<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./styles') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h1>Colours</h1>
        <aside class="toc-outter">
          <strong>On this page</strong>
          <nav class="toc">
            <ol>
              <li><a href="#theme-colours">Theme colours</a></li>

              <li><a href="#typography-colours">Typography colours</a></li>

              <li><a href="#link-colours">Link colours</a></li>

              <li><a href="#border-colours">Border Colours</a></li>

              <li>
                <a href="#button-%2F-input-colours">Button / Input colours</a>
              </li>
            </ol>
          </nav>
        </aside>

        <p>Always use the GOV.CY color palette.</p>
        <h2 id="theme-colours" tabindex="-1">
          Theme colours <a class="anchor-link" href="#theme-colours"> </a>
        </h2>
        <p>
          Use theme colours for buttons, alerts, list groups, borders, text and
          backgrounds
        </p>
        <div class="table-responsive">
          <table class="govcy-table">
            <thead>
              <tr>
                <th>Colour</th>
                <th>Colour name</th>
                <th>hex</th>
                <th>Where to use</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #31576f"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>primary</td>
                <td><code>#31576F</code></td>
                <td>
                  To be used as the colour for primary buttons and other classes
                  as primary colour.
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #b09038"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>secondary</td>
                <td><code>#B09038</code></td>
                <td>
                  To be used as the colour for secondary buttons and other
                  classes as secondary colour.
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #00703c"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>success</td>
                <td><code>#00703C</code></td>
                <td>To be used to mark success in messages and alerts.</td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #d4351c"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>danger</td>
                <td><code>#d4351c</code></td>
                <td>
                  To be used to mark danger or errors in messages and alerts.
                </td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #487d93"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>info</td>
                <td><code>#487d93</code></td>
                <td>To be used in informational messages and alerts.</td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #ebf1f3"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>light</td>
                <td><code>#ebf1f3</code></td>
                <td>
                  To be used as a light background on specific components such
                  as <a href="#">Footer</a>.
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 id="typography-colours" tabindex="-1">
          Typography colours
          <a class="anchor-link" href="#typography-colours"> </a>
        </h2>
        <p>Colours used for text based content.</p>
        <div class="table-responsive">
          <table class="govcy-table">
            <thead>
              <tr>
                <th>Colour</th>
                <th>Colour name</th>
                <th>hex</th>
                <th>Where to use</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #272525"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>headings</td>
                <td><code>#272525</code></td>
                <td>To be used for heading text colour.</td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #272525"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>body</td>
                <td><code>#272525</code></td>
                <td>To be used for body text colour.</td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #6d6e70"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>hint</td>
                <td><code>#6D6E70</code></td>
                <td>To be used for hint text colour.</td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 id="link-colours" tabindex="-1">
          Link colours <a class="anchor-link" href="#link-colours"> </a>
        </h2>
        <p>Colours related to links.</p>
        <div class="table-responsive">
          <table class="govcy-table">
            <thead>
              <tr>
                <th>Colour</th>
                <th>Colour name</th>
                <th>hex</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #1d70b8"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>link standard</td>
                <td><code>#1d70b8</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #003078"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>link hover</td>
                <td><code>#003078</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #4c2c92"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>link visited</td>
                <td><code>#4c2c92</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #272525"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>link active</td>
                <td><code>#272525</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #942514"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>link danger hover</td>
                <td><code>#942514</code></td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 id="border-colours" tabindex="-1">
          Border Colours <a class="anchor-link" href="#border-colours"> </a>
        </h2>
        <p>Colours related to borders.</p>
        <div class="table-responsive">
          <table class="govcy-table">
            <thead>
              <tr>
                <th>Colour</th>
                <th>Colour name</th>
                <th>hex</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #bbbcbf"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>border standard</td>
                <td><code>#BBBCBF</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #272525"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>border input</td>
                <td><code>#272525</code></td>
              </tr>
            </tbody>
          </table>
        </div>
        <h2 id="button-%2F-input-colours" tabindex="-1">
          Button / Input colours
          <a class="anchor-link" href="#button-%2F-input-colours"> </a>
        </h2>
        <p>Colours related to buttons</p>
        <div class="table-responsive">
          <table class="govcy-table">
            <thead>
              <tr>
                <th>Colour</th>
                <th>Colour name</th>
                <th>hex</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #31576f"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>brand-primary</td>
                <td><code>#31576F</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #254355"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>button primary hover</td>
                <td><code>#254355</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #d0d1d3"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>button secondary</td>
                <td><code>#D0D1D3</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #a6a8aa"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>button secondary hover</td>
                <td><code>#A6A8AA</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #d4351c"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>button tirtiary</td>
                <td><code>#D4351C</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #aa1d13"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>button tirtiary hover</td>
                <td><code>#AA1D13</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #00703c"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>button success</td>
                <td><code>#00703C</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #274e13"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>button success hover</td>
                <td><code>#274e13</code></td>
              </tr>
              <tr>
                <td>
                  <div
                    class="govcy-rounded-2"
                    style="width: 70px; background-color: #ffdd00"
                  >
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </div>
                </td>
                <td>button active / input focus</td>
                <td><code>#ffdd00</code></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </article>
  </main>
</div>
