<ul class="govcy-list-unstyled">
  <li class="app-side-link"><a href="/styles/colors">Colors</a></li>
  <li class="app-side-link">
    <a href="/styles/pageTemplates">Page Template</a>
  </li>
  <li class="app-side-link"><a href="/styles/gridSystem">Grid System</a></li>
  <li class="app-side-link">
    <a href="/styles/verticalSpacing">Vertical Spacing</a>
  </li>
  <li class="app-side-link"><a href="/styles/layouts">Layouts</a></li>
  <li class="app-side-link"><a href="/styles/typography">Typography</a></li>
</ul>
