// test comment in a new sass jumbotron file
$jumbotron-padding: 10px;
$jumbotron-color: blue;
$jumbotron-bg:yellow;

.jumbotron {
    padding-top: 10px;
    padding-bottom: $jumbotron-padding;
    margin-bottom: $jumbotron-padding;
    color: $jumbotron-color;
    background-color: $jumbotron-bg;
    margin-left: $jumbotron-padding;
}  