//custom variable
//update custom variable above import. This is because when they are referenced the have the !default keyword 
$primary: #25408f;
$secondary: #8f5325;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;
$font-family-sans-serif:      Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

//De-round form inputs
$form-check-input-border-radius:0px;
$border-radius:0px;
//change input border colors
$input-border-width: 2px;
$form-check-input-border: 2px solid #0b0c0c;
$input-border-color:#0b0c0c;
//make larger checkboxes
$form-check-input-width: 2em;
$form-check-min-height: 2em;
//Form focus changes
$input-focus-border-color: 	#0b0c0c;
$input-focus-box-shadow: 0 0 0 .25rem #ffdd00;
//$input-btn-focus-box-shadow:0 0 0 .25rem #ffdd00 !important;
$form-check-input-focus-box-shadow: 0 0 0 .25rem #ffdd00;



//import the functions, variables and mixins
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";

//Add colors
//Define new map
$govcy-brand-colors : (
    "govcy-brand-color": #1d70b8,
    "govcy-brand-bg": #faf7fd
);
//merge maps
$theme-colors: map-merge($govcy-brand-colors,$theme-colors);
  
// 4. Include any optional Bootstrap components as you like

// @import "../node_modules/bootstrap/scss/bootstrap-reboot";
// @import "../node_modules/bootstrap/scss/bootstrap-grid";
// @import "../node_modules/bootstrap/scss/bootstrap-utilities";
// @import "../node_modules/bootstrap/scss/_images";
// @import "../node_modules/bootstrap/scss/_navbar";
// @import "../node_modules/bootstrap/scss/_card";
// @import "../node_modules/bootstrap/scss/_nav";
// @import "../node_modules/bootstrap/scss/_transitions";
// @import "../node_modules/bootstrap/scss/_forms";
// @import "../node_modules/bootstrap/scss/_buttons";
// @import "../node_modules/bootstrap/scss/_breadcrumb";


//TO import ALL bootstrap
 @import '../node_modules/bootstrap/scss/bootstrap.scss';

// //overwrite h1
// h1 {
//     color: $secondary;
//   }

//compile sass into css using `npm run css-build` and `npm run css-build-min`

//remove unused css
//https://medium.com/dwarves-foundation/remove-unused-css-styles-from-bootstrap-using-purgecss-88395a2c5772

//https://bootstrap-cheatsheet.themeselection.com/