// -----------------------------------------------------------------------------
// This file contains all scss variables declarations, if any.
// -----------------------------------------------------------------------------



//--- Main Colours --//

// Text
$govcy-text-colour: #0b0c0c;	
$govcy-secondary-text-colour: #505a5f;	

// Links
$govcy-link-colour:	#1d70b8;	
$govcy-link-hover-colour: #003078;	
$govcy-link-visited-colour: #4c2c92;	
$govcy-link-active-colour:	#0b0c0c;	

// Border
$govcy-border-colour: #b1b4b6;	
$govcy-input-border-colour: #0b0c0c;	

// Focus state
$govcy-focus-colour: #ffdd00;	/* Only use this colour to indicate which element is focused on. For example, when a user tabs to an element with their keyboard */
$govcy-focus-text-colour: #0b0c0c;	

// Error state
$govcy-error-colour: #d4351c; /* Use for error messages */

// Success state
$govcy-success-colour:	#00703c; /* Use for success messages */

// Brand colour
$govcy-brand-colour: #1d70b8;


//--- Color Palette --//

$govcy-red: #d4351c;	
$govcy-yellow:#ffdd00;	
$govcy-green:#00703c;
$govcy-blue: #1d70b8;
$govcy-dark-blue:#003078;
$govcy-light-blue: #5694ca;	
$govcy-purple: #4c2c92;	
$govcy-black:#0b0c0c;	
$govcy-dark-grey:#505a5f;	
$govcy-mid-grey:#b1b4b6;	
$govcy-light-grey: #f3f2f1;	
$govcy-white: #ffffff;	
$govcy-light-purple: #6f72af;	
$govcy-bright-purple: #912b88;	
$govcy-pink: #d53880;	
$govcy-light-pink:#f499be;	
$govcy-orange: #f47738;	
$govcy-brown: #b58840;	
$govcy-light-green: #85994b;	
$govcy-turquoise: #28a197;