// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Roboto Thin
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: 100;
}

 // Roboto Thin Italic
 @font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: 100;
}

// Roboto Light
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

// Roboto Light Italic
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: 300;
}

// Roboto Regular
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-display: swap;
    src: url("../../../build/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

// Roboto Italic
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-Italic.ttf") format("truetype");
  font-weight: 400;
}

// Roboto Medium
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
}

// Roboto Medium Italic
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-MediumItalic.ttf") format("truetype");
  font-weight: 500;
}

// Roboto Bold
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

// Roboto Bold Italic
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: 700;
}

// Roboto Black
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}

// Roboto Black Italic
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-display: swap;
  src: url("../../../build/fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 900;
}




 
