
// ------------------------------------
// Basic typography style for copy text
// ------------------------------------

//Importing Roboto fonts from googleapis CDN
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

//Importing Google icons from googleapis CDN
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

//Govcy base font-family and font styles
$govcy-font-family: 'Roboto', sans-serif;
$govcy-font-size-base: 1.125rem; // 18px

//Overiding bootstrap font-family and font styles
$font-family-sans-serif: $govcy-font-family;
$font-size-base: $govcy-font-size-base;

//Overiding bootstrap default body color
$govcy-body-color: $govcy-body;
$body-color: $govcy-body-color;

//Govcy headings
$govcy-heading-font-weight: 700;
$govcy-headings-margin-bottom: map-get($govcy-spacers, 4);

//Overiding bootstrap heading styles and spacing
$headings-font-weight: $govcy-heading-font-weight;
$headings-margin-bottom: $govcy-headings-margin-bottom;

//Overiding bootstrap font weight
$govcy-font-weight-bold: 500;
$font-weight-bold: $govcy-font-weight-bold;


//Overiding bootstrap link colors
$link-color: $govcy-link;
$link-hover-color: $govcy-link-hover;
