// 1.
// Include any default variable overrides here (though functions won't be available)
// Overriding bootstrap variables must be done before we import bootstrap
@import "base/dsf-variables";
@import "base/dsf-typography";

// 2.
// Include the relevant parts of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";


// 3.
// Include Bootstrap components here that we extend in our dsf- components file
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";



// 4.
// Our dsf- components files. In here we create components that inherit from Bootstrap components
@import "components/dsf-buttons";
@import "components/dsf-header";
