


// Include any default variable overrides here (though functions won't be available)
    @import "base/dsf-reset";
    @import "base/dsf-variables";
    @import "base/dsf-typography";

// Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// Add additional custom code here

    // Components
        @import "components/dsf-slider";
        @import "components/dsf-buttons";
        @import "components/dsf-carousel";
        @import "components/dsf-dropdown";

    //Layout
        @import "layout/dsf-footer";
        @import "layout/dsf-forms";
        @import "layout/dsf-grid";
        @import "layout/dsf-header";
        @import "layout/dsf-navigation";
        @import "layout/dsf-sidebar";




