// -----------------------------------------------------------------------------
// This file contains the custom styles for the govcy-select element.
// -----------------------------------------------------------------------------

.govcy-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: $govcy-white;
  background-image: $govcy-drop-down;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  border: $govcy-default-border;
  max-width: 100%;
  padding: 5px;
  line-height: 30px;
  padding-right: 2.5rem;
  border-color:#000;
  color:#000;
  
  &-error {
    border-color: #d4351c !important;
	  display: flex !important;
  }
  
  &:focus {
    outline: 4pt solid $govcy-focus;
    outline-offset: 0;
  }
}
