<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside>
    <%- include('./components') %>
  </aside>
</div>

<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">

    <article>
      <section>
        <h2>Button</h2>
        <button type="button" class="govcy-btn-primary">Button</button>
        <h2>Primary button</h2>
        <button type="button" class="govcy-btn-primary">Primary</button>
        <h2>Secondary button</h2>
        <button type="button" class="govcy-btn-secondary">Secondary</button>
        <h2>Warning button</h2>
        <button type="button" class="govcy-btn-warning">Warning</button>
      </section>

    </article>

  </main>
</div>