<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./components') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h2>Error Summary</h2>
        <div class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
          <h2>There is a problem</h2>
          <p class="govcy-mb-0">
            <a href="#">Enter your full name</a>
            <a href="#">Social insurance number should be 16 digit long</a>
          </p>
        </div>
        <h2>Linking from the error summary to each answer</h2>
        <div class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
          <h2>There is a problem</h2>
          <p>
            <a href="#in3">Enter your full name</a>
          </p>
        </div>
        <div class="govcy-row">
          <div class="govcy-form">
            <div class="govcy-form-control govcy-form-control-error">
              <h1><label class="govcy-label govcy-label-primary" for="in3">Fullname</label></h1>
              <p id="in3-error" class="govcy-input-error-msg">
                <span class="govcy-visually-hidden-error">Error:</span>Enter your full name
              </p>
              <input id="in3" type="text" class="govcy-text-input govcy-text-input-error" aria-describedby="in3-error">
            </div>
          </div>
        </div>
        <h2>If you do not know which field contains an error, link to the first field.</h2>
        <div class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
          <h2>There is a problem</h2>
          <p>
            <a href="#year_err2">Date of birth must include a year</a>
          </p>
        </div>
        <div class="govcy-form">
          <fieldset class="govcy-fieldset" role="group" aria-describedby="date-err2-hint date-err2-error">
            <legend class="govcy-legend govcy-mb-6">
              <h1>What is your date of birth?</h1>
            </legend>
            <div class="govcy-form-control govcy-form-control-error">
              <span class="govcy-hint" id="date-err2-hint">For example, 12 11 2007</span>
              <p id="date-err2-error" class="govcy-input-error-msg">
                <span class="govcy-visually-hidden-error">Error:</span>Date of birth must include a year
              </p>
              <div class="govcy-d-flex govcy-flex-wrap">
                <div class="govcy-d-block govcy-mr-3">
                  <label class="govcy-label govcy-mb-1 govcy-fw-normal govcy-mb-2" for="day_err2">Day</label>
                  <input id="day_err2" class="govcy-text-input govcy-text-input-char_3" maxlength="2" type="text"
                    pattern="[0-9]*" inputmode="numeric" autocomplete="bday-day">
                </div>
                <div class="govcy-d-block govcy-mr-3">
                  <label class="govcy-label govcy-mb-1 govcy-fw-normal govcy-mb-2" for="month_err2">Month</label>
                  <select id="month_err2" class="govcy-select" autocomplete="bday-month">
                    <option value="" selected=""></option>
                    <option value="1">1 - January</option>
                    <option value="2">2 - February</option>
                    <option value="3">3 - March</option>
                    <option value="4">4 - April</option>
                    <option value="5">5 - May</option>
                    <option value="6">6 - June</option>
                    <option value="7">7 - July</option>
                    <option value="8">8 - August</option>
                    <option value="9">9 - September</option>
                    <option value="10">10 - October</option>
                    <option value="11">11 - November</option>
                    <option value="12">12 - December</option>
                  </select>
                </div>
                <div class="govcy-d-block govcy-mr-3">
                  <label class="govcy-label govcy-mb-1 govcy-fw-normal govcy-mb-2" for="year_err2">Year</label>
                  <input id="year_err2" class="govcy-text-input govcy-text-input-char_6 govcy-text-input-error"
                    placeholder="" maxlength="4" type="text" pattern="[0-9]*" inputmode="numeric"
                    autocomplete="bday-year">
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        <h2>For questions that require a user to select one or more options from a list using radios or checkboxes, link
          to the first radio or checkbox.</h2>
        <div class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
          <h2>There is a problem</h2>
          <p>
            <a href="#check4-nationality">Select if you are Cypriot, from other European country, or citizen from
              another country</a>
          </p>
        </div>
        <div class="govcy-form">
          <fieldset class="govcy-fieldset" aria-describedby="check4-fildset-hint check-er-input-error">
            <legend class="govcy-legend govcy-mb-6">
              <h1>What is your nationality?</h1>
            </legend>
            <div class="govcy-form-control govcy-form-control-error">
              <span class="govcy-hint" id="check4-fildset-hint">If you have dual nationality, select all options that
                are relevant to you. </span>
              <p id="check-er-input-error" class="govcy-input-error-msg">
                <span class="govcy-visually-hidden-error">Error:</span>Select if you are Cypriot, from other European
                country, or citizen from another country
              </p>
              <div class="govcy-checkbox">
                <input class="govcy-checkbox-input" name="check4-checkbox-group" type="checkbox"
                  id="check4-nationality">
                <label class="govcy-label" for="check4-nationality">Cypriot</label>
              </div>
              <div class="govcy-checkbox">
                <input class="govcy-checkbox-input" name="check4-checkbox-group" type="checkbox"
                  id="check4-otherEurope">
                <label class="govcy-label" for="check4-otherEurope">Other European Union country</label>
              </div>
              <div class="govcy-checkbox">
                <input class="govcy-checkbox-input" name="check4-checkbox-group" type="checkbox"
                  id="check4-anotherCountry" aria-describedby="check4-anotherCountry-hint">
                <label class="govcy-label" for="check4-anotherCountry">Citizen of another country</label>
                <span class="govcy-hint" id="check4-anotherCountry-hint">Check this if you do not have nationality from
                  a country</span>
              </div>
            </div>
          </fieldset>
        </div>
        <h2>Allow users to continue</h2>
        <div class="govcy-alert-error govcy-br-5 govcy-br-danger govcy-p-3">
          <h2>There is a problem</h2>
          <p>
            <a href="#">Enter your full name</a>
            <a href="#">Social insurance number should be 16 digit long</a>
          </p>
          <p>You can continue with other sections of your application, but you will have to complete the missing
            information before you can submit.</p>
          <a href="#">Back to home page</a>
        </div>
      </section>
    </article>
  </main>
</div>