<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./components') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h2>Default header</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                </div>
                <ul class="govcy-menu-items govcy-ms-auto">
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu" aria-label="Main Menu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Header with a site or service name</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Design System</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu" aria-label="Main Menu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Header with a long name</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Deputy Ministry of Research, Innovation and Digital Policy</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu" aria-label="Main Menu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Header without a language menu</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Design system</a></span>
                </div>
              </div>
            </div>
          </div>
        </header>
        <h2>Header with search bar</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="../../" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Service Name</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                  <li class="govcy-global-search">
                    <span><a href="#" class="govcy-menu-item" aria-label="Search, expands search text box when clicked"
                        aria-haspopup="true"><i class="govcy-search-icon"></i></a></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <div class="govcy-header-search-area">
              <div class="govcy-container">
                <form action="" class="govcy-form" novalidate="">
                  <div class="govcy-form-control">
                    <label class="govcy-label" for="search">Search gov.cy</label>
                    <input id="search" type="text" class="govcy-text-input" enterkeyhint="search">
                    <button type="submit" class="govcy-btn-primary govcy-btn-search" aria-label="Search"
                      aria-expanded="true">Search</button>
                  </div>
                </form>
              </div>
            </div>
            <nav class="govcy-mainmenu" aria-label="Main Menu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Header with sign in option</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-top-area">
            <div class="govcy-container">
              <div class="govcy-header-top-area-wrapper">
                <ul class="govcy-sign-in">
                  <li><a href="#"><i class="govcy-signin-icon"></i> Sign In</a></li>
                  <li><span> / </span></li>
                  <li><a href="#">Register</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Service Name</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only"><span><a href="#" class="govcy-menu-item"><i
                          class="govcy-contact-icon"></i>Contact</a></span></li>
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu" aria-label="Main Menu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
                <ul class="govcy-menu-items" aria-label="Contact">
                  <li class="govcy-mobile-menu-only"><a href="#" class="govcy-menu-item"><span><i
                          class="govcy-contact-icon"></i>Contact</span></a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Header with user name and sign out</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-top-area">
            <div class="govcy-container">
              <div class="govcy-header-top-area-wrapper">
                <ul class="govcy-sign-in">
                  <li>Firstname Lastname</li>
                  <li><span>|</span></li>
                  <li><a href="#">Sign Out</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Service Name</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only" hidden=""><span><a href="#" class="govcy-menu-item"><i
                          class="govcy-contact-icon"></i>Contact</a></span></li>
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn" aria-expanded="false">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu" aria-label="Main Menu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
                <ul class="govcy-menu-items" aria-label="Contact">
                  <li class="govcy-mobile-menu-only"><a href="#" class="govcy-menu-item"><span><i
                          class="govcy-contact-icon"></i>Contact</span></a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Header with contact</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Service Name</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only"><span><a href="#" class="govcy-menu-item"><i
                          class="govcy-contact-icon"></i>Contact</a></span></li>
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu" aria-label="Main Menu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                  <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                  <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                  <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
                <ul class="govcy-menu-items" aria-label="Contact">
                  <li class="govcy-mobile-menu-only"><a href="#" class="govcy-menu-item"><span><i
                          class="govcy-contact-icon"></i>Contact</span></a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Header with navigation</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Service Name</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu" aria-label="Main Menu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                  <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                  <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                  <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
                <ul class="govcy-menu-items" aria-label="Main Menu">
                  <li><a href="#" class="govcy-menu-item">Home</a></li>
                  <li><a href="#" class="govcy-menu-item">Page 1</a></li>
                  <li><a href="#" class="govcy-menu-item">Page 2</a></li>
                  <li><a href="#" class="govcy-menu-item">Page 3</a></li>
                  <li><a href="#" class="govcy-menu-item">Page 4</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Navigation with a dropdown</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Service Name</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                  <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                  <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                  <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
                <ul class="govcy-menu-items" aria-label="Main Menu">
                  <li><a href="#" class="govcy-menu-item">Home</a></li>
                  <li class="govcy-dropdown">
                    <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page
                      1 <i></i></a>
                    <ul class="govcy-dropdown-menu govcy-expandable">
                      <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                    </ul>
                  </li>
                  <li class="govcy-dropdown">
                    <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page
                      2 <i></i></a>
                    <ul class="govcy-dropdown-menu govcy-expandable">
                      <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                    </ul>
                  </li>
                  <li class="govcy-dropdown">
                    <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page
                      3 <i></i></a>
                    <ul class="govcy-dropdown-menu govcy-expandable">
                      <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                    </ul>
                  </li>
                  <li class="govcy-dropdown">
                    <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page
                      4 <i></i></a>
                    <ul class="govcy-dropdown-menu govcy-expandable">
                      <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
        <h2>Navigation with a dropdown with teir own subpages</h2>
        <header class="govcy-header govcy-d-print-none">
          <div class="govcy-header-main-area">
            <div class="govcy-container govcy-main-area-items">
              <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                  <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                  <span class="govcy-service-name"><a href="/">Service Name</a></span>
                </div>
                <ul class="govcy-menu-items">
                  <li class="govcy-desktop-menu-only"><span><a href="#"
                    aria-current="true" class="govcy-menu-item active" aria-label="Greek Language">EL</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                            class="govcy-menu-item" aria-label="English Language" lang="en">EN</a></span>
                  </li>
                  <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                    class="govcy-menu-item" aria-label="English Language" lang="tr">TR</a></span>
                  </li>
                  <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#"
                        class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govcy-header-menu-area">
            <nav class="govcy-mainmenu">
              <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                  <li><a href="#" class="govcy-menu-item active" aria-current="true">EN</a></li>
                  <li><a href="#" class="govcy-menu-item" lang="el">EL</a></li>
                  <li><a href="#" class="govcy-menu-item" lang="tr">TR</a></li>
                </ul>
                <ul class="govcy-menu-items" aria-label="Main Menu">
                  <li><a href="#" class="govcy-menu-item">Home</a></li>
                  <li class="govcy-dropdown">
                    <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page
                      1 <i></i></a>
                    <ul class="govcy-dropdown-menu govcy-expandable">
                      <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                      <li class="govcy-dropdown govcy-dropdown-right">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true"
                          aria-expanded="false">Subpage 2 <i></i></a>
                        <ul class="govcy-right-menu govcy-expandable">
                          <li><a href="#" class="govcy-menu-item">Item 1</a></li>
                          <li><a href="#" class="govcy-menu-item">Item 2</a></li>
                          <li><a href="#" class="govcy-menu-item">Item 3</a></li>
                          <li><a href="#" class="govcy-menu-item">Item 4</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                    </ul>
                  </li>
                  <li class="govcy-dropdown">
                    <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page
                      2 <i></i></a>
                    <ul class="govcy-dropdown-menu govcy-expandable">
                      <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                    </ul>
                  </li>
                  <li class="govcy-dropdown">
                    <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page
                      3 <i></i></a>
                    <ul class="govcy-dropdown-menu govcy-expandable">
                      <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                    </ul>
                  </li>
                  <li class="govcy-dropdown">
                    <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page
                      4 <i></i></a>
                    <ul class="govcy-dropdown-menu govcy-expandable">
                      <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                      <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </header>
      </section>
    </article>
  </main>
</div>