<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./components') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h1 class="govcy-pt-0">Components</h1>
        <p>
          Components are reusable parts of the user interface that have been
          made to support a variety of applications.
        </p>
        <p>
          Any components with interactive capabilities can also be navigated
          using the keyboard, for accessibility purposes.
        </p>
        <p>
          You can use individual components in many different patterns and
          contexts. For example, you can use the text input component to ask for
          an email address, a social Insurance number or someone’s name.
        </p>
      </section>
      <section>
        <div class="govcy-row govcy-mb-6">
          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/accordion" class="app-card">
              <h3>
                <u>Accordion</u>
              </h3>
              <p class="flex-fill">
                The accordion component lets users show and hide sections of
                related content on a page.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/backLink" class="app-card">
              <h3>
                <u>Back link</u>
              </h3>
              <p class="flex-fill">
                Use the back link component to help users go back to the
                previous page in a multi-page transaction.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/breadCrumbs" class="app-card">
              <h3>
                <u>Breadcrumbs</u>
              </h3>
              <p class="flex-fill">
                The breadcrumbs component helps users to understand where they
                are within a website’s structure and move between levels.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/button" class="app-card">
              <h3>
                <u>Button</u>
              </h3>
              <p class="flex-fill">
                Use the button component to help users carry out an action like
                starting an application or saving their information.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/characterCount" class="app-card">
              <h3>
                <u>Character count</u>
              </h3>
              <p class="flex-fill">
                Help users know how much text they can enter when there is a
                limit on the number of characters
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/checkboxes" class="app-card">
              <h3>
                <u>Checkboxes</u>
              </h3>
              <p class="flex-fill">
                Let users select one or more options by using the checkboxes
                component.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/dateInputs" class="app-card">
              <h3>
                <u>Date Input</u>
              </h3>
              <p class="flex-fill">
                Use the date input component to help users enter a memorable
                date or one they can easily look up.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/details" class="app-card">
              <h3>
                <u>Details</u>
              </h3>
              <p class="flex-fill">
                Make a page easier to scan by letting users reveal more detailed
                information only if they need it.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/errorSummary" class="app-card">
              <h3>
                <u>Error summary</u>
              </h3>
              <p class="flex-fill">
                Use this component at the top of a page to summarise any errors
                a user has made.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/fileUpload" class="app-card">
              <h3>
                <u>File upload</u>
              </h3>
              <p class="flex-fill">Help users select and upload a file.</p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/header" class="app-card">
              <h3>
                <u>Header</u>
              </h3>
              <p class="flex-fill">
                The header shows users that they are on gov.cy and which service
                or website they are using.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/panel" class="app-card">
              <h3>
                <u>Panel</u>
              </h3>
              <p class="flex-fill">
                The panel component is a visible container used on confirmation
                or results pages to highlight important content.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/phaseBanner" class="app-card">
              <h3>
                <u>Phase banner</u>
              </h3>
              <p class="flex-fill">
                Use the phase banner component to show users your service is
                still being worked on.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/radios" class="app-card">
              <h3>
                <u>Radios</u>
              </h3>
              <p class="flex-fill">
                Use the radios component when users can only select one option
                from a list.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/select" class="app-card">
              <h3>
                <u>Select</u>
              </h3>
              <p class="flex-fill">
                The select component allows users to choose an option from a
                long list.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/summary" class="app-card">
              <h3>
                <u>Summary list</u>
              </h3>
              <p class="flex-fill">
                Use the summary list to summarise information, for example, a
                user’s responses at the end of a form.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/table" class="app-card">
              <h3>
                <u>Table</u>
              </h3>
              <p class="flex-fill">
                Use the table component to make information easier to compare
                and scan for users.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/tabs" class="app-card">
              <h3>
                <u>Tabs</u>
              </h3>
              <p class="flex-fill">
                The tabs component lets users navigate between related sections
                of content, displaying one section at a time.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/tagColors" class="app-card">
              <h3>
                <u>Tag</u>
              </h3>
              <p class="flex-fill">
                Use the tag component to show users the status of something.
              </p>
            </a>
          </div>

          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/textbox" class="app-card">
              <h3>
                <u>Text input</u>
              </h3>
              <p class="flex-fill">
                Use the text input component when you need to let users enter
                text that’s no longer than a single line, such as their name or
                phone number.
              </p>
            </a>
          </div>
          
          <div class="govcy-col-12 govcy-col-md-6 govcy-col-lg-4 my-2">
            <a href="/components/progressIndicator" class="app-card">
              <h3>
                <u>Progress Indicator</u>
              </h3>
              <p class="flex-fill">
                Use the Progress Indicator component to indicate progress.
              </p>
            </a>
          </div>
        </div>
      </section>
    </article>
  </main>
</div>
