<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./components') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h2>Phase banner</h2>
        <div class="govcy-phase-banner">
          <span class="govcy-tag">TESTING</span>
          <span class="govcy-ml-2">This is not a real service. It is only used for testing purposes. Any submissions made through this service will be ignored.</span>
      </div>
      <h2>New service</h2>
      <div class="govcy-phase-banner">
        <span class="govcy-tag">NEW SERVICE</span>
        <span class="govcy-ml-2">This is a new service - your <a href="#">feedback</a> will help us improve it.</span>
    </div>
    <h2>Light version</h2>
    <div class="govcy-phase-banner govcy-phase-banner-light">
      <span class="govcy-tag">NEW SERVICE</span>
      <span class="govcy-ml-2">This is a new service - your <a href="#">feedback</a> will help us improve it.</span>
  </div>
      </section>
    </article>
  </main>
</div>
