<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./components') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h2>Using colour with tags</h2>
        <span class="govcy-tag">COMPLETED</span>
        <h2>Showing one or two statuses</h2>
        <table class="govcy-table">
          <thead>
              <tr class="govcy-br-input">
                  <th>Name of user</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Kyriacou Antonis</td>
                  <td><span class="govcy-tag govcy-tag-gray">INACTIVE</span></td>
              </tr>
              <tr>
                  <td>Andreou Andreas</td>
                  <td><span class="govcy-tag">ACTIVE</span></td>
              </tr>
              <tr>
                  <td>Mariou Daphne</td>
                  <td><span class="govcy-tag">ACTIVE</span></td>
              </tr>
              <tr>
                  <td>Kyprou Paraskevi</td>
                  <td><span class="govcy-tag govcy-tag-gray">INACTIVE</span></td>
              </tr>
          </tbody>
      </table>
      <h2>Showing multiple statuses</h2>
      <table class="govcy-table">
        <thead>
            <tr class="govcy-br-input">
                <th>Name of user</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Kyriacou Antonis</td>
                <td><span class="govcy-tag govcy-tag-orange">URGENT</span></td>
            </tr>
            <tr>
                <td>Andreou Andreas</td>
                <td><span class="govcy-tag govcy-tag-blue">NEW</span></td>
            </tr>
            <tr>
                <td>Mariou Daphne</td>
                <td><span class="govcy-tag govcy-tag-green">FINISHED</span></td>
            </tr>
            <tr>
                <td>Kyprou Paraskevi</td>
                <td><span class="govcy-tag govcy-tag-yellow">WAITING ON</span></td>
            </tr>
        </tbody>
    </table>
    <h2>Using colour with tags</h2>
    <table class="govcy-table">
      <thead>
          <tr class="govcy-br-input">
              <th>Class name</th>
              <th>Tag</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>govcy-tag-gray</td>
              <td><span class="govcy-tag govcy-tag-gray">INACTIVE</span></td>
          </tr>
          <tr>
              <td>govcy-tag-darkgreen</td>
              <td><span class="govcy-tag govcy-tag-darkgreen">PENDING</span></td>
          </tr>
          <tr>
              <td>govcy-tag-green</td>
              <td><span class="govcy-tag govcy-tag-green">FINISHED</span></td>
          </tr>
          <tr>
              <td>govcy-tag-purple</td>
              <td><span class="govcy-tag govcy-tag-purple">SENT</span></td>
          </tr>
          <tr>
              <td>govcy-tag-blue</td>
              <td><span class="govcy-tag govcy-tag-blue">NEW</span></td>
          </tr>
          <tr>
              <td>govcy-tag-red</td>
              <td><span class="govcy-tag govcy-tag-red">DECLINED</span></td>
          </tr>
          <tr>
              <td>govcy-tag-orange</td>
              <td><span class="govcy-tag govcy-tag-orange">URGENT</span></td>
          </tr>
          <tr>
              <td>govcy-tag-yellow</td>
              <td><span class="govcy-tag govcy-tag-yellow">DELAYED</span></td>
          </tr>
      </tbody>
  </table>   
  </section>

    </article>
  </main>
</div>
