<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
    <aside>
        <%- include('./components') %>
      </aside>
</div> 
<div class="govcy-col-md-9 govcy-col-lg-10">
     <main id="mainContainer">
  
        <article>
            <section>
                <h2>Single question page</h2>
                <div class="govcy-form">
                    <div class="govcy-form-control">
                        <h1><label class="govcy-label govcy-label-primary" for="in2">Label</label></h1>
                        <input id="in2" type="text" class="govcy-text-input">
                    </div>
                </div>
                    
                <h2>More than one question on the page</h2>
                <div class="govcy-form">
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in1">Label</label>
                        <input id="in1" type="text" class="govcy-text-input">
                    </div>
                </div>

                <h2>Hint text</h2>
                <div class="govcy-form">
                    <div class="govcy-form-control">
                        <h1><label class="govcy-label govcy-label-primary" for="in3">Label</label></h1>
                        <span id="in3-hint" class="govcy-hint">Hint</span>
                        <input id="in3" type="text" class="govcy-text-input" aria-describedby="in3-hint">
                    </div>
                </div>

                <h2>Fixed width text inputs</h2>
                <div class="govcy-form">
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in-size-50">50 Characters</label>
                        <input id="in-size-50" type="text" class="govcy-text-input govcy-text-input-char_50" maxlength="50">
                    </div>
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in-size-35">35 Characters</label>
                        <input id="in-size-35" type="text" class="govcy-text-input govcy-text-input-char_35" maxlength="35">
                    </div>
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in-size-20">20 Characters</label>
                        <input id="in-size-20" type="text" class="govcy-text-input govcy-text-input-char_20" maxlength="20">
                    </div>
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in-size-10">10 Characters</label>
                        <input id="in-size-10" type="text" class="govcy-text-input govcy-text-input-char_10" maxlength="10">
                    </div>
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in-size-5">5 Characters</label>
                        <input id="in-size-5" type="text" class="govcy-text-input govcy-text-input-char_5" maxlength="5">
                    </div>
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in-size-4">4 Characters</label>
                        <input id="in-size-4" type="text" class="govcy-text-input govcy-text-input-char_4" maxlength="4">
                    </div>
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in-size-3">3 Characters</label>
                        <input id="in-size-3" type="text" class="govcy-text-input govcy-text-input-char_3" maxlength="3">
                    </div>
                    <div class="govcy-form-control">
                        <label class="govcy-label govcy-label-primary" for="in-size-2">2 Characters</label>
                        <input id="in-size-2" type="text" class="govcy-text-input govcy-text-input-char_2" maxlength="2">
                    </div>
                </div>

                <h2>Error messages with one question</h2>
                <div class="govcy-form">
                    <div class="govcy-form-control govcy-form-control-error">
                        <h1><label class="govcy-label govcy-label-primary" for="in-error">Label</label></h1>
                        <p id="in-error-error" class="govcy-input-error-msg">
                            <span class="govcy-visually-hidden-error">Error:</span>There is an error
                        </p>
                        <input id="in-error" type="text" class="govcy-text-input govcy-text-input-error" aria-describedby="in-error-error">
                    </div>
                </div>

                <h2>Error messages with more than one question</h2>
                <div class="govcy-form">
                    <div class="govcy-form-control govcy-form-control-error">
                        <label class="govcy-label govcy-label-primary" for="in-error1">Label</label>
                        <p id="in-error-error1" class="govcy-input-error-msg">
                            <span class="govcy-visually-hidden-error">Error:</span>There is an error
                        </p>
                        <input id="in-error1" type="text" class="govcy-text-input govcy-text-input-error" aria-describedby="in-error-error1">
                    </div>
                </div>

            </section>
          
        </article>
  
    </main>
</div>
           