<div class="govcy-col-12">
    <main id="mainContainer">
        <article>
            This page will contain all components and variations in one page

            <h1>Radios</h1>

            <form action="" class="govcy-form" novalidate>
                <fieldset class="govcy-fieldset">
                    <legend class="govcy-legend">Legend</legend>
                    <div class="govcy-form-control">
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="simple" id="option-1">
                            <label class="govcy-label" for="option-1">Option 1</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="simple" id="option-2">
                            <label class="govcy-label" for="option-2">Option 2</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="simple" id="option-3">
                            <label class="govcy-label" for="option-3">Option 3</label>
                        </div>
                    </div>
                </fieldset>
            </form>



            <h2>Single question</h2>
            <form action="" class="govcy-form" novalidate>
                <fieldset class="govcy-fieldset">
                    <legend class="govcy-legend">
                        <h1>Where do you live?</h1>
                    </legend>
                    <div class="govcy-form-control">
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option1" id="option1-nic">
                            <label class="govcy-label" for="option1-nic">Nicosia</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option1" id="option1-lim">
                            <label class="govcy-label" for="option1-lim">Limassol</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option1" id="option1-lar">
                            <label class="govcy-label" for="option1-lar">Larnaca</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option1" id="option1-pap">
                            <label class="govcy-label" for="option1-pap">Paphos</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option1" id="option1-fam">
                            <label class="govcy-label" for="option1-fam">Famagousta</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option1" id="option1-kyr">
                            <label class="govcy-label" for="option1-kyr">Kyrenia</label>
                        </div>
                    </div>
                </fieldset>
            </form>

            <h2>Multiple questions</h2>
            <form action="" class="govcy-form" novalidate>
                <fieldset class="govcy-fieldset">
                    <legend class="govcy-legend">Where do you live?</legend>
                    <div class="govcy-form-control">
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option2" id="option2-nic">
                            <label class="govcy-label" for="option2-nic">Nicosia</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option2" id="option2-lim">
                            <label class="govcy-label" for="option2-lim">Limassol</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option2" id="option2-lar">
                            <label class="govcy-label" for="option2-lar">Larnaca</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option2" id="option2-pap">
                            <label class="govcy-label" for="option2-pap">Paphos</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option2" id="option2-fam">
                            <label class="govcy-label" for="option2-fam">Famagousta</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option2" id="option2-kyr">
                            <label class="govcy-label" for="option2-kyr">Kyrenia</label>
                        </div>
                    </div>
                </fieldset>
            </form>


            <h2>Inline question</h2>
            <form action="" class="govcy-form" novalidate>
                <fieldset class="govcy-fieldset">
                    <legend class="govcy-legend">Do you wish to continue?</legend>
                    <div class="govcy-form-control">
                        <div class="govcy-radio govcy-d-sm-inline-block">
                            <input class="govcy-radio-input" type="radio" name="option3" id="option3-yes">
                            <label class="govcy-label" for="option3-yes">Yes</label>
                        </div>
                        <div class="govcy-radio govcy-d-sm-inline-block">
                            <input class="govcy-radio-input" type="radio" name="option3" id="option3-no">
                            <label class="govcy-label" for="option3-no">No</label>
                        </div>
                    </div>
                </fieldset>
            </form>


            <h2>Hints</h2>
            <form action="" class="govcy-form" novalidate>
                <fieldset class="govcy-fieldset" aria-describedby="option4-fildset-hint">
                    <legend class="govcy-legend">
                        <h1>Select your certificate</h1>
                    </legend>
                    <div class="govcy-form-control">
                        <span class="govcy-hint" id="option4-fildset-hint">Different options will appear depending on
                            your option.</span>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option4" id="option4-1"
                                aria-describedby="option4-1-hint">
                            <label class="govcy-label" for="option4-1">Vaccination</label>
                            <span id="option4-1-hint" class="govcy-hint">You have been vaccinated and this has been
                                entered in the relevant database of the Ministry of Health.</span>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option4" id="option4-2"
                                aria-describedby="option4-2-hint">
                            <label class="govcy-label" for="option4-2">Recovery</label>
                            <span id="option4-2-hint" class="govcy-hint">You have been diagnosed with COVID-19, and the
                                test result has been declared and entered in the relevant database of the Ministry of
                                Health.</span>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option4" id="option4-3"
                                aria-describedby="option4-3-hint">
                            <label class="govcy-label" for="option4-3">Laboratory testing</label>
                            <span id="option4-3-hint" class="govcy-hint">You have been tested during the last 7 days for
                                COVID-19 after undergoing a laboratory antigen rapid test or molecular methodology
                                (RT-PCR) test and received a negative result which has been entered by the laboratory in
                                the relevant database of the Ministry of Health.</span>
                        </div>
                    </div>
                </fieldset>
            </form>

            <h2>Option with Or</h2>
            <form action="" class="govcy-form" novalidate>
                <fieldset class="govcy-fieldset">
                    <legend class="govcy-legend">Where do you live?</legend>
                    <div class="govcy-form-control">
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option9" id="option9-cy">
                            <label class="govcy-label" for="option9-cy">Cyprus</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option9" id="option9-eu">
                            <label class="govcy-label" for="option9-eu">Other European Union country</label>
                        </div>
                        <p class="govcy-ml-3 govcy-mb-3">Or</p>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option9" id="option9-noneu">
                            <label class="govcy-label" for="option9-noneu"><span class="govcy-visually-hidden-error">Or,
                                </span>Not in the European Union</label>
                        </div>
                    </div>
                </fieldset>
            </form>

            <h2>Conditional</h2>
            <form action="" class="govcy-form" novalidate="">
                <fieldset class="govcy-fieldset">
                    <legend class="govcy-legend">What email should we use?</legend>
                    <div class="govcy-form-control">
                        <div class="govcy-radio">
                            <input class="govcy-radio-input govcy-collapsable" name="collapseGroup" type="radio"
                                id="option5-email" data-govcy-target=".email.show">
                            <label class="govcy-label" for="option5-email">Use existing email address</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input govcy-collapsable collapsed" name="collapseGroup"
                                type="radio" id="option5-emailDif" data-govcy-target=".email:not(.show)"
                                aria-expanded="false">
                            <label class="govcy-label" for="option5-emailDif"><span
                                    class="govcy-visually-hidden-error">This option expands and has more
                                    questions,</span>No, use different email address</label>
                        </div>
                        <div class="email govcy-pl-4 govcy-ml-1 collapse" style="">
                            <div class="govcy-form-control govcy-form-control-hint">
                                <label class="govcy-label" for="in1-cond">Email Address</label>
                                <span id="in1-cond-hint" class="govcy-hint">We'll only use this for applying</span>
                                <input id="in1-cond" type="text" class="govcy-text-input"
                                    aria-describedby="in1-cond-hint">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>


            <h2>Errors</h2>
            <form action="" class="govcy-form" novalidate>
                <fieldset class="govcy-fieldset" aria-describedby="option6-error">
                    <legend class="govcy-legend">Do you wish to continue?</legend>
                    <div class="govcy-form-control govcy-form-control-error">
                        <p id="option6-error" class="govcy-input-error-msg">
                            <span class="govcy-visually-hidden-error">Error:</span>There is an error
                        </p>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option6" id="option6-yes">
                            <label class="govcy-label" for="option6-yes">Yes</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input" type="radio" name="option6" id="option6-no">
                            <label class="govcy-label" for="option6-no">No</label>
                        </div>
                    </div>
                </fieldset>
            </form>

            <form action="" class="govcy-form" novalidate>
                <fieldset class="govcy-fieldset" aria-describedby="option7-error">
                    <legend class="govcy-legend">Do you wish to continue?</legend>
                    <div class="govcy-form-control govcy-form-control-error">
                        <p id="option7-error" class="govcy-input-error-msg">
                            <span class="govcy-visually-hidden-error">Error:</span>There is an error
                        </p>
                        <div class="govcy-radio govcy-d-sm-inline-block">
                            <input class="govcy-radio-input" type="radio" name="option7" id="option7-yes">
                            <label class="govcy-label" for="option7-yes">Yes</label>
                        </div>
                        <div class="govcy-radio govcy-d-sm-inline-block">
                            <input class="govcy-radio-input" type="radio" name="option7" id="option7-no">
                            <label class="govcy-label" for="option7-no">No</label>
                        </div>
                    </div>
                </fieldset>
            </form>

            <form action="" class="govcy-form" novalidate="">
                <fieldset class="govcy-fieldset">
                    <legend class="govcy-legend">What email should we use?</legend>
                    <div class="govcy-form-control">
                        <div class="govcy-radio">
                            <input class="govcy-radio-input govcy-collapsable" name="collapseGroupErr" type="radio"
                                id="option8-email" data-govcy-target=".email1.show">
                            <label class="govcy-label" for="option8-email">Use existing email address</label>
                        </div>
                        <div class="govcy-radio">
                            <input class="govcy-radio-input govcy-collapsable collapsed" name="collapseGroupErr"
                                type="radio" id="option8-emailDif" data-govcy-target=".email1:not(.show)"
                                aria-expanded="true" checked="">
                            <label class="govcy-label" for="option8-emailDif"><span
                                    class="govcy-visually-hidden-error">This option expands and has more
                                    questions,</span>No, use different email address</label>
                        </div>
                        <div class="email1 govcy-pl-4 govcy-ml-1 collapse show" style="">
                            <div class="govcy-form-control govcy-form-control-error">
                                <label class="govcy-label" for="in2-cond">Email Address</label>
                                <span id="in2-cond-hint" class="govcy-hint">We'll only use this for applying</span>
                                <p id="in2-cond-error" class="govcy-input-error-msg">
                                    <span class="govcy-visually-hidden-error">Error:</span>Enter email address
                                </p>
                                <input id="in2-cond" type="text" class="govcy-text-input govcy-text-input-error"
                                    aria-describedby="in2-cond-hint in2-cond-error">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>

            <hr>
            <h1>Select</h1>
            <h2>Single question</h2>

            <form action="" novalidate class="govcy-form">
                <div class="govcy-form-control">
                    <h1><label class="govcy-label govcy-label-primary" for="sort2">Sort by</label></h1>
                    <select class="govcy-select" id="sort2" name="sort2">
                        <option value="" selected>None</option>
                        <option value="published">Recently published</option>
                        <option value="updated">Recently updated</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
            </form>

            <h2>Multiple questions</h2>

            <form action="" novalidate class="govcy-form">
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="sort1">Sort by</label>
                    <select class="govcy-select" id="sort1" name="sort1">
                        <option value="" selected>None</option>
                        <option value="published">Recently published</option>
                        <option value="updated">Recently updated</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
            </form>


            <h2>With hint</h2>

            <form action="" novalidate class="govcy-form">
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="sort3">Sort by</label>
                    <span id="sort3-hint" class="govcy-hint">Will sort results accordingly</span>
                    <select class="govcy-select" id="sort3" name="sort3" aria-describedby="sort3-hint">
                        <option value="" selected>None</option>
                        <option value="published">Recently published</option>
                        <option value="updated">Recently updated</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
            </form>

            <h2>With Error</h2>

            <form action="" novalidate class="govcy-form">
                <div class="govcy-form-control govcy-form-control-error">
                    <h1><label class="govcy-label govcy-label-primary" for="sort-err">Sort by</label></h1>
                    <span id="sort-err-hint" class="govcy-hint">Will sort results accordingly</span>
                    <p id="sort-err-error" class="govcy-input-error-msg">
                        <span class="govcy-visually-hidden-error">Error:</span>Please select valid options
                    </p>
                    <select class="govcy-select govcy-select-error" id="sort-err" name="sort-err"
                        aria-describedby="sort-err-hint sort-err-error">
                        <option value="" selected>None</option>
                        <option value="published">Recently published</option>
                        <option value="updated">Recently updated</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
            </form>

            <form action="" novalidate class="govcy-form">
                <div class="govcy-form-control govcy-form-control-error">
                    <label class="govcy-label govcy-label-primary" for="sort-err1">Sort by</label>
                    <span id="sort-err-hint1" class="govcy-hint">Will sort results accordingly</span>
                    <p id="sort-err-error1" class="govcy-input-error-msg">
                        <span class="govcy-visually-hidden-error">Error:</span>Please select valid options
                    </p>
                    <select class="govcy-select govcy-select-error" id="sort-err1" name="sort-err1"
                        aria-describedby="sort-err-hint1 sort-err-error1">
                        <option value="" selected>None</option>
                        <option value="published">Recently published</option>
                        <option value="updated">Recently updated</option>
                        <option value="views">Most views</option>
                        <option value="comments">Most comments</option>
                    </select>
                </div>
            </form>

            <hr>

            <h1>Summary list</h1>

            <dl class="govcy-summary-list">
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Name
                    </dt>
                    <dd class="govcy-summary-list-value">
                        Andreas Andreou
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Date of birth
                    </dt>
                    <dd class="govcy-summary-list-value">
                        10 March 1990
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Address
                    </dt>
                    <dd class="govcy-summary-list-value">
                        50 Enton Street<br>Nicosia<br>2066
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Contact details
                    </dt>
                    <dd class="govcy-summary-list-value">
                        99123456<br />abc@windowslive.com
                    </dd>
                </div>
            </dl>


            <h2>Action in each row</h2>

            <dl class="govcy-summary-list">
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Name
                    </dt>
                    <dd class="govcy-summary-list-value">
                        Andreas Andreou
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> name</span></a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Date of birth
                    </dt>
                    <dd class="govcy-summary-list-value">
                        10 March 1990
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> date of birth</span></a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Address
                    </dt>
                    <dd class="govcy-summary-list-value">
                        50 Enton Street<br>Nicosia<br>2066
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> address</span></a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Contact details
                    </dt>
                    <dd class="govcy-summary-list-value">
                        99123456<br />abc@windowslive.com
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> contact details</span></a>
                    </dd>
                </div>
            </dl>

            <h3>Multiple actions</h3>

            <dl class="govcy-summary-list">
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Name
                    </dt>
                    <dd class="govcy-summary-list-value">
                        Andreas Andreou
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <ul class="list-inline govcy-my-0">
                            <li class="list-inline-item"><a href="#">Change<span class="govcy-visually-hidden-error">
                                        name</span></a></li>
                            <li class="list-inline-item"><a href="#">Remove<span class="govcy-visually-hidden-error">
                                        name</span></a></li>
                        </ul>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Date of birth
                    </dt>
                    <dd class="govcy-summary-list-value">
                        10 March 1990
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <ul class="list-inline govcy-my-0">
                            <li class="list-inline-item"><a href="#">Change<span class="govcy-visually-hidden-error">
                                        date of birth</span></a></li>
                            <li class="list-inline-item"><a href="#">Remove<span class="govcy-visually-hidden-error">
                                        date of birth</span></a></li>
                        </ul>
                    </dd>
                </div>
            </dl>

            <h2>No border</h2>

            <dl class="govcy-summary-list govcy-summary-list-no-border">
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Name
                    </dt>
                    <dd class="govcy-summary-list-value">
                        Andreas Andreou
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Telephone
                    </dt>
                    <dd class="govcy-summary-list-value">
                        99123456
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Address
                    </dt>
                    <dd class="govcy-summary-list-value">
                        50 Enton Street<br>Nicosia<br>2066
                    </dd>
                </div>
            </dl>

            <h2>Missing information</h2>
            <dl class="govcy-summary-list">
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Name
                    </dt>
                    <dd class="govcy-summary-list-value">
                        Andreas Andreou
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> name</span></a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Date of birth
                    </dt>
                    <dd class="govcy-summary-list-value">
                        10 March 1990
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> date of birth</span></a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Address
                    </dt>
                    <dd class="govcy-summary-list-value">
                        <a href="#">Enter address</a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Contact details
                    </dt>
                    <dd class="govcy-summary-list-value">
                        <a href="#">Enter contact details</a>
                    </dd>
                </div>
            </dl>

            <h2>Complex list</h2>

            <dl class="govcy-summary-list">
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Name
                    </dt>
                    <dd class="govcy-summary-list-value">
                        Andreas Andreou
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> name</span></a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Date of birth
                    </dt>
                    <dd class="govcy-summary-list-value">
                        <a href="#">Enter date of birth</a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Contact telephone
                    </dt>
                    <dd class="govcy-summary-list-value">
                        99123456
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> contact telephone</span></a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Bank Account
                    </dt>
                    <dd class="govcy-summary-list-value">
                        <dl class="govcy-summary-list-row-internal">
                            <dt class="govcy-summary-list-key-internal">Account name</dt>
                            <dd class="govcy-summary-list-value-internal">Andreas Andreou current</dd>
                            <dt class="govcy-summary-list-key-internal">Bank</dt>
                            <dd class="govcy-summary-list-value-internal">Bank of Cyprus</dd>
                            <dt class="govcy-summary-list-key-internal">Account number</dt>
                            <dd class="govcy-summary-list-value-internal">1234567890</dd>
                        </dl>
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> bank account</span></a>
                    </dd>
                </div>
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Payments <span class="govcy-visually-hidden-error"> 2 entries</span>
                    </dt>
                    <dd class="govcy-summary-list-value">
                        <dl class="govcy-summary-list-row-internal">
                            <dt><span class="govcy-visually-hidden-error">Entry 1</span></dt>
                            <dt class="govcy-summary-list-key-internal">Date</dt>
                            <dd class="govcy-summary-list-value-internal">10 February 2024</dd>
                            <dt class="govcy-summary-list-key-internal">Description</dt>
                            <dd class="govcy-summary-list-value-internal">Electricity bill payment</dd>
                            <dt class="govcy-summary-list-key-internal">Amount</dt>
                            <dd class="govcy-summary-list-value-internal">€200</dd>
                        </dl>
                        <dl class="govcy-summary-list-row-internal">
                            <dt><span class="govcy-visually-hidden-error">Entry 2</span></dt>
                            <dt class="govcy-summary-list-key-internal">Date</dt>
                            <dd class="govcy-summary-list-value-internal">16 February 2024</dd>
                            <dt class="govcy-summary-list-key-internal">Description</dt>
                            <dd class="govcy-summary-list-value-internal">Telephone bill payment</dd>
                            <dt class="govcy-summary-list-key-internal">Amount</dt>
                            <dd class="govcy-summary-list-value-internal">50</dd>
                        </dl>
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> payments</span></a>
                    </dd>
                </div>
            </dl>

            <h3>List with arrays</h3>h
            <dl class="govcy-summary-list">
                <div class="govcy-summary-list-row">
                    <dt class="govcy-summary-list-key">
                        Payments <span class="govcy-visually-hidden-error"> 2 entries</span>
                    </dt>
                    <dd class="govcy-summary-list-value">
                        <dl class="govcy-summary-list-row-internal">
                            <dt><span class="govcy-visually-hidden-error">Entry 1</span></dt>
                            <dt class="govcy-summary-list-key-internal">Date</dt>
                            <dd class="govcy-summary-list-value-internal">10 February 2024</dd>
                            <dt class="govcy-summary-list-key-internal">Description</dt>
                            <dd class="govcy-summary-list-value-internal">Electricity bill payment</dd>
                            <dt class="govcy-summary-list-key-internal">Amount</dt>
                            <dd class="govcy-summary-list-value-internal">€200</dd>
                        </dl>
                        <dl class="govcy-summary-list-row-internal">
                            <dt><span class="govcy-visually-hidden-error">Entry 2</span></dt>
                            <dt class="govcy-summary-list-key-internal">Date</dt>
                            <dd class="govcy-summary-list-value-internal">16 February 2024</dd>
                            <dt class="govcy-summary-list-key-internal">Description</dt>
                            <dd class="govcy-summary-list-value-internal">Telephone bill payment</dd>
                            <dt class="govcy-summary-list-key-internal">Amount</dt>
                            <dd class="govcy-summary-list-value-internal">50</dd>
                        </dl>
                    </dd>
                    <dd class="govcy-summary-list-actions">
                        <a href="#">Change<span class="govcy-visually-hidden-error"> payments</span></a>
                    </dd>
                </div>
            </dl>

            <h2>For multiple things summary list page</h2>
            <h3> Summary list arrays with no title simple</h3>
            <h1>Confirm telephone numbers</h1>
            <table class="govcy-table govcy-table-responsive-vertical">
                <tbody>
                    <tr class="govcy-summary-list-row-internal">
                        <td>
                            <span class="govcy-visually-hidden-error">Entry 1 </span>+35799123456
                        </td>
                        <td class="govcy-text-sm-start govcy-text-md-end">
                            <ul class="list-inline govcy-my-0">
                                <li class="list-inline-item"><a href="#">Change<span
                                            class="govcy-visually-hidden-error"> +35799123456</span></a></li>
                                <li class="list-inline-item"><a href="#">Remove<span
                                            class="govcy-visually-hidden-error"> +35799123456</span></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="govcy-summary-list-row-internal">
                        <td>
                            <span class="govcy-visually-hidden-error">Entry 2 </span>+35799654321
                        </td>
                        <td class="govcy-text-sm-start govcy-text-md-end">
                            <ul class="list-inline govcy-my-0">
                                <li class="list-inline-item"><a href="#">Change<span
                                            class="govcy-visually-hidden-error"> +35799654321</span></a></li>
                                <li class="list-inline-item"><a href="#">Remove<span
                                            class="govcy-visually-hidden-error"> +35799654321</span></a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h3> Summary list arrays with no title complex</h3>
            <h1>Confirm payment details</h1>
            <table class="govcy-table govcy-table-responsive-vertical">
                <tbody>
                    <tr class="govcy-summary-list-row-internal">
                        <td>
                            <dl class="govcy-summary-list-row-internal">
                                <dt><span class="govcy-visually-hidden-error">Entry 1</span></dt>
                                <dt class="govcy-summary-list-key-internal">Date</dt>
                                <dd class="govcy-summary-list-value-internal">10 February 2024</dd>
                                <dt class="govcy-summary-list-key-internal">Description</dt>
                                <dd class="govcy-summary-list-value-internal">Electricity bill payment</dd>
                                <dt class="govcy-summary-list-key-internal">Amount</dt>
                                <dd class="govcy-summary-list-value-internal">€200</dd>
                            </dl>
                        </td>
                        <td class="govcy-text-sm-start govcy-text-md-end">
                            <ul class="list-inline govcy-my-0">
                                <li class="list-inline-item"><a href="#">Change<span
                                            class="govcy-visually-hidden-error"> Entry 1</span></a></li>
                                <li class="list-inline-item"><a href="#">Remove<span
                                            class="govcy-visually-hidden-error"> Entry 1</span></a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr class="govcy-summary-list-row-internal">
                        <td>
                            <dl class="govcy-summary-list-row-internal">
                                <dt><span class="govcy-visually-hidden-error">Entry 2</span></dt>
                                <dt class="govcy-summary-list-key-internal">Date</dt>
                                <dd class="govcy-summary-list-value-internal">16 February 2024</dd>
                                <dt class="govcy-summary-list-key-internal">Description</dt>
                                <dd class="govcy-summary-list-value-internal">Telephone bill payment</dd>
                                <dt class="govcy-summary-list-key-internal">Amount</dt>
                                <dd class="govcy-summary-list-value-internal">50</dd>
                            </dl>
                        </td>
                        <td class="govcy-text-sm-start govcy-text-md-end">
                            <ul class="list-inline govcy-my-0">
                                <li class="list-inline-item"><a href="#">Change<span
                                            class="govcy-visually-hidden-error"> Entry 2</span></a></li>
                                <li class="list-inline-item"><a href="#">Remove<span
                                            class="govcy-visually-hidden-error"> Entry 2</span></a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h1>Tabs</h1>

            <ul class="govcy-tabs" id="pastTab" role="tablist">
                <li class="govcy-tab-item" role="presentation">
                    <button class="govcy-tab-link active" id="past-day-tab" data-govcy-target="#past-day-tab-pane"
                        type="button" role="tab" aria-controls="past-day-tab-pane" aria-selected="true">Past
                        Day</button>
                </li>
                <li class="govcy-tab-item" role="presentation">
                    <button class="govcy-tab-link" id="past-week-tab" data-govcy-target="#past-week-tab-pane"
                        type="button" role="tab" aria-controls="past-week-tab-pane" aria-selected="false">Past
                        Week</button>
                </li>
                <li class="govcy-tab-item" role="presentation">
                    <button class="govcy-tab-link" id="past-month-tab" data-govcy-target="#past-month-tab-pane"
                        type="button" role="tab" aria-controls="past-month-tab-pane" aria-selected="false">Past
                        Month</button>
                </li>
                <li class="govcy-tab-item" role="presentation">
                    <button class="govcy-tab-link" id="past-year-tab" data-govcy-target="#past-year-tab-pane"
                        type="button" role="tab" aria-controls="past-year-tab-pane" aria-selected="false">Past
                        Year</button>
                </li>
            </ul>
            <div class="govcy-tab-content" id="pastTabContent">
                <div tabindex="0" class="govcy-tab-pane show active" id="past-day-tab-pane" role="tabpanel"
                    aria-labelledby="past-day-tab">
                    <table class="govcy-table">
                        <caption class="govcy-caption-top govcy-caption">
                            <h2>Past Day</h2>
                        </caption>
                        <thead>
                            <tr class="govcy-br-input">
                                <th>Case manager</th>
                                <th>Open cases</th>
                                <th>Closed cases</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kyriacou Antonis</td>
                                <td>2</td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Andreou Andreas</td>
                                <td>5</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Daphne Mariou</td>
                                <td>6</td>
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div tabindex="0" class="govcy-tab-pane" id="past-week-tab-pane" role="tabpanel"
                    aria-labelledby="past-week-tab">
                    <table class="govcy-table">
                        <caption class="govcy-caption-top govcy-caption">
                            <h2>Past Week</h2>
                        </caption>
                        <thead>
                            <tr class="govcy-br-input">
                                <th>Case manager</th>
                                <th>Open cases</th>
                                <th>Closed cases</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Constantinou Antonis</td>
                                <td>7</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Panagou Andreas</td>
                                <td>2</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>Chrysos Andreas</td>
                                <td>5</td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div tabindex="0" class="govcy-tab-pane" id="past-month-tab-pane" role="tabpanel"
                    aria-labelledby="past-month-tab">
                    <table class="govcy-table">
                        <caption class="govcy-caption-top govcy-caption">
                            <h2>Past Month</h2>
                        </caption>
                        <thead>
                            <tr class="govcy-br-input">
                                <th>Case manager</th>
                                <th>Open cases</th>
                                <th>Closed cases</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Kyriacou Antonis</td>
                                <td>1</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Andreou Andreas</td>
                                <td>2</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>Daphne Mariou</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div tabindex="0" class="govcy-tab-pane" id="past-year-tab-pane" role="tabpanel"
                    aria-labelledby="past-year-tab">
                    <table class="govcy-table">
                        <caption class="govcy-caption-top govcy-caption">
                            <h2>Past Year</h2>
                        </caption>
                        <thead>
                            <tr class="govcy-br-input">
                                <th>Case manager</th>
                                <th>Open cases</th>
                                <th>Closed cases</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Constantinou Antonis</td>
                                <td>2</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Panagou Andreas</td>
                                <td>3</td>
                                <td>8</td>
                            </tr>
                            <tr>
                                <td>Chrysos Andreas</td>
                                <td>1</td>
                                <td>6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <hr>

            <h1>Tag</h1>

            <h2>Default</h2>
            <span class="govcy-tag">COMPLETED</span>

            <h2>Showing 2 status</h2>
            <table class="govcy-table">
                <thead>
                    <tr class="govcy-br-input">
                        <th>Name of user</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kyriacou Antonis</td>
                        <td><span class="govcy-tag govcy-tag-gray">INACTIVE</span></td>
                    </tr>
                    <tr>
                        <td>Andreou Andreas</td>
                        <td><span class="govcy-tag">ACTIVE</span></td>
                    </tr>
                    <tr>
                        <td>Mariou Daphne</td>
                        <td><span class="govcy-tag">ACTIVE</span></td>
                    </tr>
                    <tr>
                        <td>Kyprou Paraskevi</td>
                        <td><span class="govcy-tag govcy-tag-gray">INACTIVE</span></td>
                    </tr>
                </tbody>
            </table>


            <h2>Showing multiple statuses</h2>
            <table class="govcy-table">
                <thead>
                    <tr class="govcy-br-input">
                        <th>Name of user</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kyriacou Antonis</td>
                        <td><span class="govcy-tag govcy-tag-orange">URGENT</span></td>
                    </tr>
                    <tr>
                        <td>Andreou Andreas</td>
                        <td><span class="govcy-tag govcy-tag-blue">NEW</span></td>
                    </tr>
                    <tr>
                        <td>Mariou Daphne</td>
                        <td><span class="govcy-tag govcy-tag-green">FINISHED</span></td>
                    </tr>
                    <tr>
                        <td>Kyprou Paraskevi</td>
                        <td><span class="govcy-tag govcy-tag-yellow">WAITING ON</span></td>
                    </tr>
                </tbody>
            </table>

            <h2>Using colour</h2>
            <table class="govcy-table">
                <thead>
                    <tr class="govcy-br-input">
                        <th>Class name</th>
                        <th>Tag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>govcy-tag-gray</td>
                        <td><span class="govcy-tag govcy-tag-gray">INACTIVE</span></td>
                    </tr>
                    <tr>
                        <td>govcy-tag-darkgreen</td>
                        <td><span class="govcy-tag govcy-tag-darkgreen">PENDING</span></td>
                    </tr>
                    <tr>
                        <td>govcy-tag-green</td>
                        <td><span class="govcy-tag govcy-tag-green">FINISHED</span></td>
                    </tr>
                    <tr>
                        <td>govcy-tag-purple</td>
                        <td><span class="govcy-tag govcy-tag-purple">SENT</span></td>
                    </tr>
                    <tr>
                        <td>govcy-tag-blue</td>
                        <td><span class="govcy-tag govcy-tag-blue">NEW</span></td>
                    </tr>
                    <tr>
                        <td>govcy-tag-red</td>
                        <td><span class="govcy-tag govcy-tag-red">DECLINED</span></td>
                    </tr>
                    <tr>
                        <td>govcy-tag-orange</td>
                        <td><span class="govcy-tag govcy-tag-orange">URGENT</span></td>
                    </tr>
                    <tr>
                        <td>govcy-tag-yellow</td>
                        <td><span class="govcy-tag govcy-tag-yellow">DELAYED</span></td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h2>Text input</h2>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in1">Label</label>
                    <input id="in1" type="text" class="govcy-text-input">
                </div>
            </form>

            <h2>Single question</h2>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control">
                    <h1><label class="govcy-label govcy-label-primary" for="in2">Label</label></h1>
                    <input id="in2" type="text" class="govcy-text-input">
                </div>
            </form>

            <h2>Hint text</h2>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control">
                    <h1><label class="govcy-label govcy-label-primary" for="in3">Label</label></h1>
                    <span id="in3-hint" class="govcy-hint">Hint</span>
                    <input id="in3" type="text" class="govcy-text-input" aria-describedby="in3-hint">
                </div>
            </form>

            <h2>Appropriately sized</h2>

            <form action="" class="govcy-form" novalidate>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in-size-50">50 Characters</label>
                    <input id="in-size-50" type="text" class="govcy-text-input govcy-text-input-char_50" maxlength="50">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in-size-35">35 Characters</label>
                    <input id="in-size-35" type="text" class="govcy-text-input govcy-text-input-char_35" maxlength="35">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in-size-20">20 Characters</label>
                    <input id="in-size-20" type="text" class="govcy-text-input govcy-text-input-char_20" maxlength="20">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in-size-10">10 Characters</label>
                    <input id="in-size-10" type="text" class="govcy-text-input govcy-text-input-char_10" maxlength="10">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in-size-5">5 Characters</label>
                    <input id="in-size-5" type="text" class="govcy-text-input govcy-text-input-char_5" maxlength="5">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in-size-4">4 Characters</label>
                    <input id="in-size-4" type="text" class="govcy-text-input govcy-text-input-char_4" maxlength="4">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in-size-3">3 Characters</label>
                    <input id="in-size-3" type="text" class="govcy-text-input govcy-text-input-char_3" maxlength="3">
                </div>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in-size-2">2 Characters</label>
                    <input id="in-size-2" type="text" class="govcy-text-input govcy-text-input-char_2" maxlength="2">
                </div>
            </form>

            <h2>Autocomplete</h2>

            <form action="" class="govcy-form" novalidate>
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="in4">Postcode</label>
                    <input type="text" class="govcy-text-input" spellcheck="false" autocomplete="postal-code" id="in4">
                </div>
            </form>

            <h2>Error messages</h2>

            <form action="" class="govcy-form" novalidate>
                <div class="govcy-form-control govcy-form-control-error">
                    <h1><label class="govcy-label govcy-label-primary" for="in-error">Label</label></h1>
                    <span id="in-error-hint" class="govcy-hint">Hint</span>
                    <p id="in-error-error" class="govcy-input-error-msg">
                        <span class="govcy-visually-hidden-error">Error:</span>There is an error
                    </p>
                    <input id="in-error" type="text" class="govcy-text-input govcy-text-input-error"
                        aria-describedby="in-error-hint in-error-error">
                </div>
            </form>

            <form action="" class="govcy-form" novalidate>
                <div class="govcy-form-control govcy-form-control-error">
                    <label class="govcy-label govcy-label-primary" for="in-error1">Label</label>
                    <p id="in-error-error1" class="govcy-input-error-msg">
                        <span class="govcy-visually-hidden-error">Error:</span>There is an error
                    </p>
                    <input id="in-error1" type="text" class="govcy-text-input govcy-text-input-error"
                        aria-describedby="in-error-error1">
                </div>
            </form>

            <hr>

            <h1>Textarea</h1>


            <h2>Single question</h2>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control">
                    <h1><label class="govcy-label govcy-label-primary" for="input1">Can you provide more detail?</label>
                    </h1>
                    <textarea id="input1" class="govcy-text-area" rows="5"></textarea>
                </div>
            </form>

            <h2>More than one question</h2>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="input2">Can you provide more detail?</label>
                    <textarea id="input2" class="govcy-text-area" rows="5"></textarea>
                </div>
            </form>

            <h2>with hint</h2>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="input3">Can you provide more detail?</label>
                    <span class="govcy-hint" id="govcy-hint3">Do not include personal or financial information like your
                        National Insurance number or credit card details.</span>
                    <textarea id="input3" class="govcy-text-area" rows="5" aria-describedby="govcy-hint3"></textarea>
                </div>
            </form>

            <h2>Use appropriately-sized textareas</h2>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control">
                    <label class="govcy-label govcy-label-primary" for="input4">Can you provide more detail?</label>
                    <span class="govcy-hint" id="govcy-hint4">Do not include personal or financial information like your
                        National Insurance number or credit card details.</span>
                    <textarea id="input4" class="govcy-text-area" rows="10" aria-describedby="govcy-hint4"></textarea>
                </div>
            </form>


            <h2>Error</h2>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control govcy-form-control-error">
                    <h1><label class="govcy-label govcy-label-primary" for="input-err">What is your job
                            description?</label></h1>
                    <p id="job-description-input-error" class="govcy-input-error-msg">
                        <span class="govcy-visually-hidden-error">Error:</span>Enter a valid Job description
                    </p>
                    <textarea id="input-err" class="govcy-text-area govcy-text-area-error"
                        aria-describedby="job-description-input-error" rows="5"></textarea>
                </div>
            </form>

            <form action="" class="govcy-form" novalidate="">
                <div class="govcy-form-control govcy-form-control-error">
                    <label class="govcy-label govcy-label-primary" for="input-err1">What is your job
                        description?</label>
                    <p id="job-description-input-error1" class="govcy-input-error-msg">
                        <span class="govcy-visually-hidden-error">Error:</span>Enter a valid Job description
                    </p>
                    <textarea id="input-err1" class="govcy-text-area govcy-text-area-error"
                        aria-describedby="job-description-input-error1" rows="5"></textarea>
                </div>
            </form>


            <hr>

            <h1>Table</h1>

            <h2>For caption issue</h2>
            <div class="govcy-warning-text">
                <span class="govcy-warning-text-icon" aria-hidden="true">!</span>
                <span class="govcy-warning-text-message">This is only for the caption issue</span>
            </div>

            <table class="govcy-table">
                <caption class="govcy-caption-top govcy-caption">
                    <h2>Τιμές δεδομένων</h2>
                </caption>
                <thead>
                    <tr class="govcy-br-input">
                        <th scope="col">Δεδομένο</th>
                        <th scope="col">Τιμή</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Όνομα</th>
                        <td>Κωστής Γιαννής</td>
                    </tr>
                    <tr>
                        <th>Ημερομηνία γέννησης</th>
                        <td>10/1/2021</td>
                    </tr>
                    <tr>
                        <th>Διεύθυνση</th>
                        <td>Μακαρείου 13</td>
                    </tr>
                    <tr>
                        <th>Αριθμός Ταυτότητας</th>
                        <td>7361063</td>
                    </tr>
                </tbody>
            </table>

            <h3>Default</h3>

            <div class="govcy-br-1 govcy-bg-light govcy-m-0 govcy-p-0">
                <p>Top element</p>
            </div>
            <table class="govcy-table">
                <caption class="govcy-br-1 govcy-bg-light govcy-caption-top govcy-caption">
                    <h2>H2 in caption</h2>
                </caption>
                <thead>
                    <tr class="govcy-br-input">
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Jane Smith</td>
                    </tr>
                    <tr>
                        <th>Child's date of birth</th>
                        <td>5 Jan 2021</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th>Social insurance number</th>
                        <td>7361063</td>
                    </tr>
                </tbody>
            </table>

            <div class="govcy-br-1 govcy-bg-light govcy-m-0 govcy-p-0">
                <p>Top element</p>
            </div>
            <div class="govcy-br-1 govcy-bg-light govcy-m-0 govcy-p-0">
                <h2>H2 outside of caption</h2>
            </div>
            <table class="govcy-table">
                <thead>
                    <tr class="govcy-br-input">
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Jane Smith</td>
                    </tr>
                    <tr>
                        <th>Child's date of birth</th>
                        <td>5 Jan 2021</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th>Social insurance number</th>
                        <td>7361063</td>
                    </tr>
                </tbody>
            </table>

            <h3>Captions no header</h3>
            <div class="govcy-br-1 govcy-bg-light govcy-m-0 govcy-p-0">
                <p>Top element</p>
            </div>
            <table class="govcy-table">
                <caption class="govcy-br-1 govcy-bg-light govcy-caption-top govcy-caption">Text inside caption</caption>
                <thead>
                    <tr class="govcy-br-input">
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Jane Smith</td>
                    </tr>
                    <tr>
                        <th>Child's date of birth</th>
                        <td>5 Jan 2021</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th>Social insurance number</th>
                        <td>7361063</td>
                    </tr>
                </tbody>
            </table>

            <div class="govcy-br-1 govcy-bg-light govcy-m-0 govcy-p-0">
                <p>Top element</p>
            </div>
            <div class="govcy-br-1 govcy-bg-light govcy-m-0 govcy-p-0">
                <p>Text outside caption</p>
            </div>
            <table class="govcy-table">
                <thead>
                    <tr class="govcy-br-input">
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Jane Smith</td>
                    </tr>
                    <tr>
                        <th>Child's date of birth</th>
                        <td>5 Jan 2021</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th>Social insurance number</th>
                        <td>7361063</td>
                    </tr>
                </tbody>
            </table>

            <h2>For govcy-table-responsive-vertical head not hidden issue</h2>
            <div class="govcy-warning-text">
                <span class="govcy-warning-text-icon" aria-hidden="true">!</span>
                <span class="govcy-warning-text-message">This is only for the govcy-table-responsive-vertical head
                    issue</span>
            </div>
            <table class="govcy-table govcy-table-responsive-vertical">
                <thead>
                    <tr>
                        <th scope="col">Field</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Account Name</th>
                        <td>Andreas Andreou</td>
                    </tr>
                    <tr>
                        <th>Bank</th>
                        <td>Bank of Cyprus</td>
                    </tr>
                    <tr>
                        <th>International Bank Account Number (IBAN)</th>
                        <td>CY**********************7654</td>
                    </tr>
                </tbody>
            </table>

            <hr>

            <h2>Default</h2>
            <table class="govcy-table">
                <thead>
                    <tr class="govcy-br-input">
                        <th scope="col">Property</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>Jane Smith</td>
                    </tr>
                    <tr>
                        <th>Child's date of birth</th>
                        <td>5 Jan 2021</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th>Social insurance number</th>
                        <td>123456</td>
                    </tr>
                </tbody>
            </table>

            <h2>Table headers</h2>

            <table class="govcy-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Expence</th>
                        <th scope="col">Notes</th>
                        <th scope="col" class="govcy-text-end">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Server</td>
                        <td>120 GB RAM, xxx processor</td>
                        <td class="govcy-text-end">5000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Monitor</td>
                        <td>22 inch</td>
                        <td class="govcy-text-end">100</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Keyboard</td>
                        <td>Greek Layout</td>
                        <td class="govcy-text-end">20</td>
                    </tr>
                </tbody>
            </table>

            <h2>Numbers in table</h2>
            <table class="govcy-table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Expence</th>
                        <th scope="col">Notes</th>
                        <th scope="col" class="govcy-text-end">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Server</td>
                        <td>120 GB RAM, xxx processor</td>
                        <td class="govcy-text-end">5000</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Monitor</td>
                        <td>22 inch</td>
                        <td class="govcy-text-end">100</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Keyboard</td>
                        <td>Greek layout</td>
                        <td class="govcy-text-end">20</td>
                    </tr>
                </tbody>
            </table>

            <h2>Responsive tables</h2>


            <h3>Vertical responsive tables</h3>
            <table class="govcy-table govcy-table-responsive-vertical">
                <tbody>
                    <tr>
                        <th>Account Name</th>
                        <td>Andreas Andreou</td>
                    </tr>
                    <tr>
                        <th>Bank</th>
                        <td>Bank of Cyprus</td>
                    </tr>
                    <tr>
                        <th>International Bank Account Number (IBAN)</th>
                        <td>CY**********************7654</td>
                    </tr>
                </tbody>
            </table>

            <h3>Horizontal responsive tables</h3>

            <div class="govcy-table-responsive">
                <table class="govcy-table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                            <th scope="col">Heading</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </main>
</div>