<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./patterns') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h1>Dates</h1>

        <aside class="toc-outter">
          <strong>On this page</strong>
          <nav class="toc">
            <ol>
              <li>
                <a href="#when-to-use-this-pattern">When to use this pattern</a>
              </li>

              <li><a href="#how-it-works">How it works</a></li>

              <li><a href="#how-to-write-dates">How to write dates</a></li>
            </ol>
          </nav>
        </aside>

        <p>Help users enter a date.</p>
        <h2 id="when-to-use-this-pattern" tabindex="-1">
          When to use this pattern
          <a class="anchor-link" href="#when-to-use-this-pattern"> </a>
        </h2>
        <p>
          Follow this pattern whenever you need users to provide or view a date
          as part of your service.
        </p>
        <h2 id="how-it-works" tabindex="-1">
          How it works <a class="anchor-link" href="#how-it-works"> </a>
        </h2>
        <p>
          If you are asking for a date that is not in the near future or recent
          past, for example birth date, use the
          <a href="../../components/dateInputs/">date input component</a>.
        </p>
        <p>
          If you are asking for a date that is in the near future or recent
          past, for example appointment date, you can use a calendar like date
          picker.
        </p>
        <h2 id="how-to-write-dates" tabindex="-1">
          How to write dates
          <a class="anchor-link" href="#how-to-write-dates"> </a>
        </h2>
        <p>
          Display dates in the format <code>DD/MM/YYYY</code>, for example
          13/11/2021.
        </p>
      </section>
    </article>
  </main>
</div>
