<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./patterns') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h1>Email</h1>

        <aside class="toc-outter">
          <strong>On this page</strong>
          <nav class="toc">
            <ol>
              <li>
                <a href="#how-it-works">How it works</a>

                <ol>
                  <li>
                    <a href="#when-to-ask-for-repeat-or-loop"
                      >When to ask for repeat or loop</a
                    >
                  </li>

                  <li><a href="#show-errors">Show errors</a></li>
                </ol>
              </li>
            </ol>
          </nav>
        </aside>

        <p>
          Follow this pattern whenever you need to ask for an email address.
        </p>
        <h2 id="how-it-works" tabindex="-1">
          How it works <a class="anchor-link" href="#how-it-works"> </a>
        </h2>
        <p><em>Example</em></p>
        <div
          class="govcy-container govcy-p-4 govcy-br-1 govcy-br-standard govcy-mb-4"
        >
          <form action="" class="govcy-form" novalidate="">
            <div class="govcy-form-control">
              <label class="govcy-label" for="in1">Email address</label>
              <span class="govcy-hint" id="email-hint"
                >We’ll only use this for this application</span
              >
              <input
                class="govcy-text-input"
                id="in1"
                name="in1"
                type="email"
                spellcheck="false"
                aria-describedby="email-hint"
                autocomplete="email"
              />
            </div>
          </form>
        </div>
        <p><em>Sample HTML Code</em></p>
        <pre
          class="language-html"
        ><code class="language-html"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>form</span> <span class="token attr-name">action</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span><span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-form<span class="token punctuation">"</span></span> <span class="token attr-name">novalidate</span><span class="token punctuation">&gt;</span></span><br>    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-form-control<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><br>        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-label<span class="token punctuation">"</span></span> <span class="token attr-name">for</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>in1<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Email address<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span><br>        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-hint<span class="token punctuation">"</span></span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>email-hint<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>We’ll only use this for this application<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span><br>        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-text-input<span class="token punctuation">"</span></span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>in1<span class="token punctuation">"</span></span> <span class="token attr-name">name</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>in1<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">spellcheck</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>false<span class="token punctuation">"</span></span> <span class="token attr-name">aria-describedby</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>email-hint<span class="token punctuation">"</span></span> <span class="token attr-name">autocomplete</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><br>    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span><br><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>form</span><span class="token punctuation">&gt;</span></span></code></pre>
        <p>
          When asking users for their email address, you must make it clear why
          you’re asking.
        </p>
        <p>
          You may also need to check that users have access to the email account
          they give you.
        </p>
        <p>
          Make sure the field can accommodate up to 256 characters, which is the
          longest an email address can be.
        </p>
        <p>Help users to enter a valid email address by:</p>
        <ul>
          <li>checking they have entered the correct format</li>
          <li>allowing users to paste the email address</li>
          <li>
            setting the <code>type</code> attribute to <code>email</code> so
            that devices display the correct keyboard
          </li>
          <li>
            setting the <code>spellcheck</code> attribute to
            <code>false</code> so that browsers do not spellcheck the email
            address
          </li>
          <li>
            setting the <code>autocomplete</code> attribute to
            <code>email</code>. This lets browsers autofill the email address on
            a user’s behalf if they’ve entered it previously.
          </li>
        </ul>
        <h3 id="when-to-ask-for-repeat-or-loop" tabindex="-1">
          When to ask for repeat or loop
          <a class="anchor-link" href="#when-to-ask-for-repeat-or-loop"> </a>
        </h3>
        <p>
          Only ask users to repeat their email address if your user research
          shows it to be effective.
        </p>
        <p>
          If email is an essential part of your service - for example to send a
          password reset - you can confirm whether the user has access to the
          email address they give you using an email confirmation loop. However,
          these are disruptive and should be avoided as far as possible.
        </p>
        <h3 id="show-errors" tabindex="-1">
          Show errors <a class="anchor-link" href="#show-errors"> </a>
        </h3>
        <p>
          Error messages should follow the guidance in
          <a href="../../components/errorSummary">error message</a> as shown in
          the example below.
        </p>
        <p><em>Example</em></p>
        <div
          class="govcy-container govcy-p-4 govcy-br-1 govcy-br-standard govcy-mb-4"
        >
          <form action="" class="govcy-form" novalidate="">
            <div class="govcy-form-control govcy-form-control-error">
              <label class="govcy-label" for="in2">Email address</label>
              <p class="govcy-input-error-msg" id="error2">
                <span class="govcy-visually-hidden-error">Error: </span>Enter an
                email address in the correct format, like name@example.com
              </p>
              <input
                class="govcy-text-input govcy-text-input-error"
                id="in2"
                name="in2"
                type="email"
                spellcheck="false"
                aria-describedby="email-hint"
                autocomplete="email"
              />
            </div>
          </form>
        </div>
        <p><em>Sample HTML Code</em></p>
        <pre class="language-html"><code class="language-html">
  <span class="token tag"><span class="token tag">
    <span class="token punctuation">&lt;</span>form</span> 
    <span class="token attr-name">action</span>
    <span class="token attr-value"><span class="token punctuation attr-equals">=</span>
    <span class="token punctuation">"</span><span class="token punctuation">"</span></span> 
    <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span>
    <span class="token punctuation">"</span>govcy-form<span class="token punctuation">"</span>
  </span> <span class="token attr-name">novalidate</span><span class="token punctuation">&gt;</span></span><br>    
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> 
  <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-form-control govcy-form-control-error<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><br>        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>label</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-label<span class="token punctuation">"</span></span> <span class="token attr-name">for</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>in2<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Email address<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>label</span><span class="token punctuation">&gt;</span></span><br>        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-input-error-msg<span class="token punctuation">"</span></span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>error2<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-visually-hidden-error<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Error: <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>Enter an email address in the correct format, like name@example.com<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span><br>        <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>input</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>govcy-text-input govcy-text-input-error<span class="token punctuation">"</span></span> <span class="token attr-name">id</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>in2<span class="token punctuation">"</span></span> <span class="token attr-name">name</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>in2<span class="token punctuation">"</span></span> <span class="token attr-name">type</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">spellcheck</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>false<span class="token punctuation">"</span></span> <span class="token attr-name">aria-describedby</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>email-hint<span class="token punctuation">"</span></span> <span class="token attr-name">autocomplete</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>email<span class="token punctuation">"</span></span> <span class="token attr-name">aria-describedby</span><span class="token attr-value"><span class="token punctuation attr-equals">=</span><span class="token punctuation">"</span>error2<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span><br>    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span><br><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>form</span><span class="token punctuation">&gt;</span></span></code></pre>
      </section>
    </article>
  </main>
</div>
