<h1>Footer</h1>

<h2>Default</h2> 

<!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>
<footer class="govcy-footer govcy-d-print-none">
    <div class="govcy-container">
        <div class="govcy-d-flex govcy-justify-content-between govcy-align-items-end govcy-flex-wrap">
            <div class="govcy-my-4">
                <ul>
                    <li><a href="#">Privacy statement</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Accessibility statement</a></li>
                </ul>
                <div class="govcy-d-flex govcy-align-items-center govcy-flex-wrap">
                    <span class="govcy-fs-2 govcy-fw-bold govcy-mr-6">gov.cy</span>
                    <span class="govcy-mr-6 govcy-mt-2 govcy-mb-2">&copy; Republic of Cyprus, 2023</span>
                </div>
            </div>
            <div class="govcy-my-4">
                <a href="/" class="govcy-footer-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"/></a>
            </div>
        </div>
    </div>
</footer>

<hr>

<h2>EU funded</h2>  

<!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>
<footer class="govcy-footer govcy-d-print-none">
    <div class="govcy-container">
        <div class="govcy-d-flex govcy-justify-content-between govcy-align-items-end govcy-flex-wrap">
            <div class="govcy-my-4">
                <ul>
                    <li><a href="#">Privacy statement</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Accessibility statement</a></li>
                </ul>
                <div class="govcy-d-flex govcy-align-items-center govcy-flex-wrap">
                    <span class="govcy-fs-2 govcy-fw-bold govcy-mr-6">gov.cy</span>
                    <span class="govcy-mr-6 govcy-mt-2 govcy-mb-2">&copy; Republic of Cyprus, 2023</span>
                    <a href="https://europa.eu/" title="Go to EU Website" target="_blank"><img class="govcy-eu-logo govcy-mb-2" src="../../img/FundedbyEU_NextGeneration_H53-EN.png" alt="Funded by the EU Next Generation EU"></a>
                    <a href="http://www.cyprus-tomorrow.gov.cy/" title="Go to Cyprus to tomorrow website" target="_blank"><img class="govcy-eu-logo govcy-mb-2" src="../../img/CYpros to aurio logo eng_H53_EN.png" alt="Cyprus tomorrow, recovery and resilience plan"></a>
                </div>
            </div>
            <div class="govcy-my-4">
                <a href="/" class="govcy-footer-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"/></a>
            </div>
        </div>
    </div>
</footer>

<hr>

<h2>EU funded greek</h2>

<!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>
<footer class="govcy-footer govcy-d-print-none">
    <div class="govcy-container">
        <div class="govcy-d-flex govcy-justify-content-between govcy-align-items-end govcy-flex-wrap">
            <div class="govcy-my-4">
                <ul>
                    <li><a href="#">Δήλωση απορρήτου</a></li>
                    <li><a href="#">Cookies</a></li>
                    <li><a href="#">Προσβασιμότητα</a></li>
                </ul>
                <div class="govcy-d-flex govcy-align-items-center govcy-flex-wrap">
                    <span class="govcy-fs-2 govcy-fw-bold govcy-mr-6">gov.cy</span>
                    <span class="govcy-mr-6 govcy-mt-2 govcy-mb-2">&copy; Κυπριακή Δημοκρατία, 2023</span>
                    <a href="https://europa.eu/" title="Μετάβαση στη ιστοσελίδα του EU" target="_blank"><img class="govcy-eu-logo govcy-mb-2" src="../../img/FundedbyEU_NextGeneration_H53-EL.png" alt="Χρηματοδοτείται από την Ευρωπαϊκή Ένωση  Next Generation EU"></a>
                    <a href="http://www.cyprus-tomorrow.gov.cy/" title="Μετάβαση στη ιστοσελίδα Κύπρος το αύριο" target="_blank"><img class="govcy-eu-logo govcy-mb-2" src="../../img/CYpros to aurio logo eng_H53_EL.png" alt="Κύπρος το αύριο, σχέδιο ανάκαμψης και ανθεντικότητας"></a>
                </div>
            </div>
            <div class="govcy-my-4">
                <a href="/" class="govcy-footer-logo" title="Μεταβείτε στην αρχική σελίδα του gov.cy"><img alt="gov.cy Logo"/></a>
            </div>
        </div>
    </div>
</footer>


<hr>

<h2>Adding secondary navigation</h2>

<!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>
<footer class="govcy-footer govcy-d-print-none"> 
    <div class="govcy-px-4">
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-md-8 govcy-footer-column">
                    <h3>Two column list</h3>
                    <div class="govcy-row">
                        <div class="govcy-col-md-6">
                            <ul>
                                <li><a href="#">Navigation Item 1</a></li>
                                <li><a href="#">Navigation Item 2</a></li>
                                <li><a href="#">Navigation Item 3</a></li>
                            </ul>
                        </div>
                        <div class="govcy-col-md-6">
                            <ul>
                                <li><a href="#">Navigation Item 4</a></li>
                                <li><a href="#">Navigation Item 5</a></li>
                                <li><a href="#">Navigation Item 6</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="govcy-col-md-4 govcy-footer-column">
                    <h3>One column list</h3>
                    <ul>
                        <li><a href="#">Navigation Item 1</a></li>
                        <li><a href="#">Navigation Item 2</a></li>
                        <li><a href="#">Navigation Item 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="govcy-container govcy-footer-separator">
            <div class="govcy-d-flex govcy-justify-content-between govcy-align-items-end govcy-flex-wrap">
                <div class="govcy-my-4">
                    <ul>
                        <li><a href="#">Privacy statement</a></li>
                        <li><a href="#">Cookies</a></li>
                        <li><a href="#">Accessibility statement</a></li>
                    </ul>
                    <div class="govcy-d-flex govcy-align-items-center govcy-flex-wrap">
                        <span class="govcy-fs-2 govcy-fw-bold govcy-mr-6">gov.cy</span>
                        <span class="govcy-mr-6 govcy-mt-2 govcy-mb-2">&copy; Republic of Cyprus, 2023</span>
                        <a href="https://europa.eu/" title="Go to EU Website" target="_blank"><img class="govcy-eu-logo govcy-mb-2" src="../../img/FundedbyEU_NextGeneration_H53-EN.png" alt="Funded by the EU Next Generation EU"></a>
                        <a href="http://www.cyprus-tomorrow.gov.cy/" title="Go to Cyprus to tomorrow website" target="_blank"><img class="govcy-eu-logo govcy-mb-2" src="../../img/CYpros to aurio logo eng_H53_EN.png" alt="Cyprus tomorrow, recovery and resilience plan"></a>
                    </div>
                </div>
                <div class="govcy-my-4">
                    <a href="../../" class="govcy-footer-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"/></a>
                </div>
            </div>
        </div>
    </div>
</footer>