<h1>Header</h1> 

<h2>Default header</h2>

<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                </div>
                <ul class="govcy-menu-items govcy-ms-auto">
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu" aria-label="Main Menu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container" id="mainContainer">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <h1>Title</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor turpis ac lorem venenatis cursus. Phasellus pellentesque rhoncus ligula et blandit. Phasellus id metus nulla. Nunc maximus mi ligula, vel vestibulum justo rutrum nec. Vestibulum gravida tellus lacus, elementum ornare arcu rutrum nec. Maecenas nec eros sapien. Fusce malesuada mattis purus, at euismod lectus gravida vitae. Nullam diam leo, pharetra suscipit purus eu, commodo tincidunt metus. Phasellus eget nisi sapien. Ut efficitur nunc sit amet lacus sagittis, et hendrerit quam porttitor. In eu imperdiet quam. Donec at ornare quam, ac ultrices sem. Mauris rhoncus porta mauris at pretium. Aliquam tempus pulvinar felis non posuere. Aliquam eget tristique sem.</p>
        </article>
    </div>
</main>

<hr>

<h2>More headers</h2>
<h3>Header with a site or service name and change language links</h3>

<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Design System</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu" aria-label="Main Menu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>

<hr>

<h3>Header with a long site or service name</h3>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Deputy Ministry of Research, Innovation and Digital Policy</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu" aria-label="Main Menu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>

<hr>


<h3>Header without language menu</h3>
<header class="govcy-header govcy-d-print-none" id="headerContainer">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Design system</span>
                </div>
            </div>
        </div>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>

<hr>


<h3>Header with search bar</h3>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="../../" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Service Name</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                    <li class="govcy-global-search">
                        <span><a href="#" class="govcy-menu-item" aria-label="Search, expands search text box when clicked" aria-haspopup="true"><i class="govcy-search-icon"></i></a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <div class="govcy-header-search-area">
            <div class="govcy-container">
                <form action="" class="govcy-form" novalidate="">
                    <div class="govcy-form-control">
                        <label class="govcy-label" for="search">Search gov.cy</label>
                        <input id="search" type="text" class="govcy-text-input" enterkeyhint="search">
                        <button type="submit" class="govcy-btn-primary govcy-btn-search" aria-label="Search" aria-expanded="true">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <nav class="govcy-mainmenu" aria-label="Main Menu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>


<hr>


<h3>Header with sign in option</h3>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-top-area">
        <div class="govcy-container">
            <div class="govcy-header-top-area-wrapper">
                <ul class="govcy-sign-in">
                    <li><a href="#"><i class="govcy-signin-icon"></i> Sign In</a></li>
                    <li><span> / </span></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Service Name</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#" class="govcy-menu-item"><i class="govcy-contact-icon"></i>Contact</a></span></li>
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu" aria-label="Main Menu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
            <div class="govcy-container">
                <ul class="govcy-menu-items" aria-label="Contact">
                    <li class="govcy-mobile-menu-only"><a href="#" class="govcy-menu-item"><span><i class="govcy-contact-icon"></i>Contact</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>

<hr>

<h4>Header with user name and sign out</h4>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-top-area">
        <div class="govcy-container">
            <div class="govcy-header-top-area-wrapper">
                <ul class="govcy-sign-in">
                    <li>Firstname Lastname</li>
                    <li><span>|</span></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Service Name</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only" hidden=""><span><a href="#" class="govcy-menu-item"><i class="govcy-contact-icon"></i>Contact</a></span></li>
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn" aria-expanded="false">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu" aria-label="Main Menu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
            <div class="govcy-container">
                <ul class="govcy-menu-items" aria-label="Contact">
                    <li class="govcy-mobile-menu-only"><a href="#" class="govcy-menu-item"><span><i class="govcy-contact-icon"></i>Contact</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>


<hr>

<h3>Header with contact</h3>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Service Name</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#" class="govcy-menu-item"><i class="govcy-contact-icon"></i>Contact</a></span></li>
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu" aria-label="Main Menu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
            <div class="govcy-container">
                <ul class="govcy-menu-items" aria-label="Contact">
                    <li class="govcy-mobile-menu-only"><a href="#" class="govcy-menu-item"><span><i class="govcy-contact-icon"></i>Contact</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>


<hr>

<h2>Header with navigation</h2>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Service Name</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu" aria-label="Main Menu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
            <div class="govcy-container">
                <ul class="govcy-menu-items" aria-label="Main Menu">
                    <li><a href="#" class="govcy-menu-item">Home</a></li>
                    <li><a href="#" class="govcy-menu-item">Page 1</a></li>
                    <li><a href="#" class="govcy-menu-item">Page 2</a></li>
                    <li><a href="#" class="govcy-menu-item">Page 3</a></li>
                    <li><a href="#" class="govcy-menu-item">Page 4</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>


<hr>

<h3>Navigation with a dropdown</h3>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Service Name</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
            <div class="govcy-container">
                <ul class="govcy-menu-items" aria-label="Main Menu">
                    <li><a href="#" class="govcy-menu-item">Home</a></li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 1<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 2<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 3<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 4<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>


<hr>

<h3>Navigation with 2 level dropdown</h3>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Service Name</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <nav class="govcy-mainmenu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
            <div class="govcy-container">
                <ul class="govcy-menu-items" aria-label="Main Menu">
                    <li><a href="#" class="govcy-menu-item">Home</a></li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 1<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li class="govcy-dropdown govcy-dropdown-right">
                                <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Subpage 2<i></i></a>
                                <ul class="govcy-right-menu govcy-expandable">
                                    <li><a href="#" class="govcy-menu-item">Item 1</a></li>
                                    <li><a href="#" class="govcy-menu-item">Item 2</a></li>
                                    <li><a href="#" class="govcy-menu-item">Item 3</a></li>
                                    <li><a href="#" class="govcy-menu-item">Item 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 2<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 3<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 4<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>


<hr>

<h2>Header using all the options</h2>
<header class="govcy-header govcy-d-print-none">
    <div class="govcy-header-top-area">
        <div class="govcy-container">
            <div class="govcy-header-top-area-wrapper">
                <ul class="govcy-sign-in">
                    <li><a href="#"><i class="govcy-signin-icon"></i> Sign In</a></li>
                    <li><span> / </span></li>
                    <li><a href="#">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-main-area">
        <div class="govcy-container govcy-main-area-items">
            <div class="govcy-navigation-container">
                <div class="govcy-service-container">
                    <a href="/" class="govcy-logo" title="Go to the gov.cy homepage"><img alt="gov.cy Logo"></a>
                    <span class="govcy-service-name">Service Name</span>
                </div>
                <ul class="govcy-menu-items">
                    <li class="govcy-desktop-menu-only"><span><a href="#" class="govcy-menu-item"><i class="govcy-contact-icon"></i>Contact</a></span></li>
                    <li class="govcy-desktop-menu-only"><span><a href="#"
                        aria-current="true" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα">EL</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                                class="govcy-menu-item" aria-label="English language" lang="en">EN</a></span>
                      </li>
                      <li class="govcy-desktop-menu-only"><span class="govcy-menu-language-last-item"><a href="#"
                        class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></span>
                    </li>
                    <li class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"><span><a href="#" class="govcy-menu-item govcy-expand-btn">Menu</a></span></li>
                    <li class="govcy-global-search">
                        <span><a href="#" class="govcy-menu-item" aria-label="Search, expands search text box when clicked" aria-haspopup="true"><i class="govcy-search-icon"></i></a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="govcy-header-menu-area">
        <div class="govcy-header-search-area">
            <div class="govcy-container">
                <form action="" class="govcy-form" novalidate="">
                    <div class="govcy-form-control">
                        <label class="govcy-label" for="search1">Search gov.cy</label>
                        <input id="search1" type="text" class="govcy-text-input" enterkeyhint="search">
                        <button type="submit" class="govcy-btn-primary govcy-btn-search" aria-label="Search" aria-expanded="true">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <nav class="govcy-mainmenu">
            <div class="govcy-container">
                <ul class="govcy-menu-items govcy-header-language-area govcy-mobile-menu-only">
                    <li><a href="#" class="govcy-menu-item active" aria-label="Ελληνική γλώσσα" aria-current="true">EN</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="English language" lang="el">EL</a></li>
                    <li><a href="#" class="govcy-menu-item" aria-label="Türkçe" lang="tr">TR</a></li>
                </ul>
            </div>
            <div class="govcy-container">
                <ul class="govcy-menu-items" aria-label="Main Menu">
                    <li><a href="#" class="govcy-menu-item">Home</a></li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 1<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li class="govcy-dropdown govcy-dropdown-right">
                                <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Subpage 2<i></i></a>
                                <ul class="govcy-right-menu govcy-expandable">
                                    <li><a href="#" class="govcy-menu-item">Item 1</a></li>
                                    <li><a href="#" class="govcy-menu-item">Item 2</a></li>
                                    <li><a href="#" class="govcy-menu-item">Item 3</a></li>
                                    <li><a href="#" class="govcy-menu-item">Item 4</a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 2<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 3<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-dropdown">
                        <a href="#" class="govcy-menu-item govcy-expand-btn" aria-haspopup="true" aria-expanded="false">Page 4<i></i></a>
                        <ul class="govcy-dropdown-menu govcy-expandable">
                            <li><a href="#" class="govcy-menu-item">Subpage 1</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 2</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 3</a></li>
                            <li><a href="#" class="govcy-menu-item">Subpage 4</a></li>
                        </ul>
                    </li>
                    <li class="govcy-mobile-menu-only"><a href="#" class="govcy-menu-item"><span><i class="govcy-contact-icon"></i>Contact</span></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
 <!--main-->
<main class="govcy-container">
    <div class="govcy-row">
        <article class="govcy-col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </article>
    </div>
</main>

<hr>
