<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./patterns') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <h1>Patterns</h1>
    <p>
      Use these best practice design solutions for specific user-focused tasks
      and page types, such as addresses, bank details and so on.
    </p>
    <h3>Ask users for</h3>
    <div class="govcy-container">
      <div class="row">
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/currencyAmount"
            >Currency amount</a
          >
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/dates/">Dates</a>
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/email">Email</a>
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/names">Names</a>
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/telephone">Telephone</a>
        </div>
      </div>
    </div>
    <h3>Help users</h3>
    <div class="govcy-container">
      <div class="row">
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/checkAnswer">Check answers</a>
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/confirmPhoneNumber"
            >Confirm a phone number</a
          >
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/hintText">Hint Text</a>
        </div>
      </div>
    </div>
    <h3>Pages</h3>
    <div class="govcy-container">
      <div class="row">
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/pageNotFoundPages"
            >Page not found pages</a
          >
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="">Question pages</a>
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/serviceUnavailiablePages"
            >Service unavailable pages</a
          >
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/thereIsAProblem"
            >There is a problem with the service pages</a
          >
        </div>
      </div>
    </div>
    <h3>How to</h3>
    <div class="govcy-container">
      <div class="row">
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/focusState">Focus state</a>
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/labelsAndLegendHeadings"
            >Labels and legends headings</a
          >
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/multibleThings"
            >Add multiple things
          </a>
        </div>
        <div class="govcy-col-4 govcy-mb-3">
          <a class="app-card" href="/patterns/serviceStructure"
            >Structuring a service</a
          >
        </div>
      </div>
    </div>
  </main>
</div>
