<div class="govcy-col-12">
    <main id="mainContainer">
        <article>
            <h1>Grid govcy-container govcy-col-*</h1>
            <div class="govcy-container govcy-p-4 govcy-bg-info govcy-mb-4">
                <div class="row govcy-mb-2">
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-11 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-2 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-10 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-3 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-9 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-4 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-8 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-5 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-7 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-6 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-6 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-7 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-5 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-8 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-4 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-9 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-3 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-10 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-2 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-11 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-12 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-6 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-6 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-4 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-4 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-4 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-3 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-3 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-3 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-3 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-2 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-2 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-2 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-2 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-2 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-2 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
                <div class="row govcy-mb-2">
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                    <div class="govcy-col-1 govcy-bg-light govcy-br-primary govcy-br-1">col</div>
                </div>
            </div>
        
        <hr>
        <h2>Layouts</h2>
        <h3>Full width</h3>
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-12">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Full width
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <h3>One half</h3>
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-6">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One half
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <h3>One third</h3>
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-4">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        govcy-grid-column-one-third
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <h3>Two thirds</h3>
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-8">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Two thirds
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <h3>One quarter</h3>
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-3">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One quarter
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <h3>Three quarters</h3>
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-9">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Three quarters
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <h3>One Third + Two Thirds layout</h3>
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-4">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One third
                    </div>
                </div>
                <div class="govcy-col-8">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Two third
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <h3>One Third + Two Thirds layout</h3>
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-4">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One third
                    </div>
                </div>
                <div class="govcy-col-8">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Two third
                    </div>
                </div>
            </div>
        </div>
        
        <hr>
        <h2>Example combinations</h2>
        <div class="govcy-container">
            <div class="govcy-row govcy-mb-4">
                <div class="”col-12”">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Full width
                    </div>
                </div>
            </div>
            <div class="govcy-row govcy-mb-4"> 
                <div class="govcy-col-6">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One half
                    </div>
                </div>
                <div class="govcy-col-6">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One half
                    </div>
                </div> 
            </div>
            <div class="govcy-row govcy-mb-4"> 
                <div class="govcy-col-8">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Two thirds
                    </div>
                </div>
                <div class="govcy-col-4">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One third
                    </div>
                </div>
            </div>
            <div class="govcy-row govcy-mb-4"> 
                <div class="govcy-col-4">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One third
                    </div>
                </div>
                <div class="govcy-col-8">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Two thirds
                    </div>
                </div> 
            </div>
            <div class="govcy-row govcy-mb-4"> 
                <div class="govcy-col-9">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Three quarters
                    </div>
                </div>
                <div class="govcy-col-3">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One quarter
                    </div>
                </div> 
            </div>
            <div class="govcy-row govcy-mb-4"> 
                <div class="govcy-col-3">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        One quarter
                    </div>
                </div>
                <div class="govcy-col-9">
                    <div class="govcy-p-6 govcy-bg-primary govcy-text-center govcy-text-white">
                        Three quarters
                    </div>
                </div> 
            </div>
        </div>
        </article>
    </main>
</div>