<div class="d-none d-md-block govcy-col-md-3 govcy-col-lg-2">
  <aside><%- include('./patterns') %></aside>
</div>
<div class="govcy-col-md-9 govcy-col-lg-10">
  <main id="mainContainer">
    <article>
      <section>
        <h1>Page not found pages</h1>

        <aside class="toc-outter">
          <strong>On this page</strong>
          <nav class="toc">
            <ol>
              <li>
                <a href="#when-to-use-this-pattern">When to use this pattern</a>
              </li>

              <li><a href="#how-it-works">How it works</a></li>
            </ol>
          </nav>
        </aside>

        <p>
          A page not found tells someone we cannot find the page they were
          trying to view. This is also known as 404 pages.
        </p>
        <h2 id="when-to-use-this-pattern" tabindex="-1">
          When to use this pattern
          <a class="anchor-link" href="#when-to-use-this-pattern"> </a>
        </h2>
        <p>
          Use a page not found if someone is trying to view a page that does not
          exist. This happens if someone:
        </p>
        <ul>
          <li>
            selects a link or button that takes them to a page that does not
            exist
          </li>
          <li>types or copies a web address for a page that does not exist</li>
          <li>types or copies a web address incorrectly</li>
        </ul>
        <p>
          Make sure any web addresses in your service, letters, forms and on
          gov.cy are for pages that exist or redirect to pages that exist.
        </p>
        <h2 id="how-it-works" tabindex="-1">
          How it works <a class="anchor-link" href="#how-it-works"> </a>
        </h2>
        <p>The page should have:</p>
        <ul>
          <li>
            as the page title:
            <ul>
              <li>in Greek: ‘Δεν βρέθηκε η σελίδα – service name – gov.cy’</li>
              <li>in English: ‘Page not found – service name – gov.cy’</li>
            </ul>
          </li>
          <li>
            as the H1
            <ul>
              <li>in Greek: ‘Δεν βρέθηκε η σελίδα’</li>
              <li>in English: ‘Page not found’</li>
            </ul>
          </li>
          <li>
            contact information of the department or helpline, if it exists and
            helps meet a user need
          </li>
        </ul>
        <p>The content should be clear and concise, not blame the user.</p>
        <p>Do not use:</p>
        <ul>
          <li>breadcrumbs</li>
          <li>technical jargon like 404 or bad request</li>
          <li>informal or humorous words like oops</li>
          <li>red text to warn people</li>
        </ul>
        <p><em>Example in Greek</em></p>
        <div
          class="govcy-container govcy-p-4 govcy-br-1 govcy-br-standard govcy-mb-4"
        >
          <!--beforeMain-->
          <!--main-->
          <main class="govcy-container" id="mainContainer">
            <h1>Δεν βρέθηκε η σελίδα</h1>
            <p>
              Αν πληκτρολογήσατε την ηλεκτρονική διεύθυνση, ελέγξετε ότι είναι
              σωστή.
            </p>
            <p>
              Αν αντιγράψατε την ηλεκτρονική διεύθυνση, ελέγξετε ότι
              επικολλήσατε ολόκληρη τη διεύθυνση.
            </p>
          </main>
        </div>
        <p><em>Example in English</em></p>
        <div
          class="govcy-container govcy-p-4 govcy-br-1 govcy-br-standard govcy-mb-4"
        >
          <!--beforeMain-->
          <!--main-->
          <main class="govcy-container" id="mainContainer">
            <h1>Page not found</h1>
            <p>If you typed the web address, check it is correct.</p>
            <p>
              If you copied and pasted the web address, check that you copied
              the entire address.
            </p>
          </main>
        </div>
      </section>
    </article>
  </main>
</div>
