<ul class="govcy-list-unstyled">
  <li>Ask users for</li>
  <li class="app-side-link">
    <a href="/patterns/currencyAmount">Currency amount</a>
  </li>
  <li class="app-side-link"><a href="/patterns/dates">Dates</a></li>
  <li class="app-side-link"><a href="/patterns/email">Email</a></li>
  <li class="app-side-link"><a href="/patterns/names">Names</a></li>
  <li class="app-side-link"><a href="/patterns/telephone">Telephone</a></li>
  <li>Help users</li>
  <li class="app-side-link">
    <a href="/patterns/checkAnswer">Check answers</a>
  </li>
  <li class="app-side-link">
    <a href="/patterns/confirmPhoneNumber">Confirm a phone number</a>
  </li>
  <li class="app-side-link"><a href="/patterns/hintText">Hint Text</a></li>
  <li>Pages</li>
  <li class="app-side-link">
    <a href="/patterns/pageNotFoundPages">Page not found pages</a>
  </li>
  <li class="app-side-link">
    <a href="/patterns/questionPages">Question pages</a>
  </li>
  <li class="app-side-link">
    <a href="/patterns/serviceUnavailiablePages">Service unavailable pages</a>
  </li>
  <li class="app-side-link">
    <a href="/patterns/thereIsAProblem"
      >There is a problem with the service pages</a
    >
  </li>
  <li>How to</li>
  <li class="app-side-link"><a href="/patterns/focusState">Focus state</a></li>
  <li class="app-side-link">
    <a href="/patterns/labelsAndLegendHeadings">Labels and legends headings</a>
  </li>
  <li class="app-side-link">
    <a href="/patterns/multibleThings">Add multiple things </a>
  </li>
  <li class="app-side-link">
    <a href="/patterns/serviceStructure">Structuring a service</a>
  </li>
</ul>
