/*!
 * gov.cy UDS v3.0.1
 */

// 1.
// Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

// 2.
// Include any default variable overrides here (though functions won't be available)
// Overriding bootstrap variables must be done before we import bootstrap
@import 'base/govcy-variables';
//@import 'base/govcy-element-config';

// You may exclude icon library for better performance
@import 'base/govcy-icons';

@import 'base/govcy-typography';
@import 'base/govcy-grid';
@import 'base/govcy-bootstrap-overides';

// 3.
// Include the relevant parts of Bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';
@import 'base/govcy-grid-gutters';
@import 'base/govcy-container';

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/utilities/api';

// 4.
// Include Bootstrap components here that we extend in our govcy- components file
@import 'components/govcy-utilities';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/buttons';
@import '../../node_modules/bootstrap/scss/alert';

// 5.
// Our govcy- components files. In here we create components that inherit from Bootstrap components
@import 'components/govcy-element-config';
@import 'components/govcy-reboot';
@import 'components/govcy-alerts';
@import 'components/govcy-buttons';
@import 'components/govcy-header';
@import 'components/govcy-hint';
@import 'components/govcy-footer';
@import 'components/govcy-form';
@import 'components/govcy-text-input';
@import 'components/govcy-checkbox-radio';
@import 'components/govcy-file-upload';
@import 'components/govcy-table';
@import 'components/govcy-datatable';
@import 'components/govcy-links';
@import 'components/govcy-details';
@import 'components/govcy-select';
@import 'components/govcy-list';
@import 'components/govcy-accordion';
@import 'components/govcy-back-link';
@import 'components/govcy-breadcrumb';
@import 'components/govcy-inset-text';
@import 'components/govcy-char-count';
@import 'components/govcy-date-picker';
@import 'components/govcy-tags';
@import 'components/govcy-phase-banner';
@import 'components/govcy-tabs.scss';
@import 'components/govcy-summary-list.scss';
@import 'components/govcy-warning-text.scss';
@import 'components/govcy-line.scss';
@import 'components/govcy-cookie-consent-banner.scss';

// 6.
// Use these helpers to visually hide elements but keep them accessible to assistive technologies.
@import 'helpers/govcy-visually-hidden';