#topMenuContainer {
    background-color: #F8F9FA;
  }
  #topMenu a{
    font-size: 1.5rem;
  }
  .example-box {
    background-color: #F8F9FA;
    border: 1px solid #dee2e6;
    margin-top:10px; margin-bottom:10px ;
  }
  .example-box .row>div {
    border: 1px solid #dee2e6;
    margin-top:10px; margin-bottom:10px ;
    padding-top:10px; padding-bottom:10px ;
  }
  