<footer id="footerContainer" class="govcy-footer">
  <div class="govcy-container">
    <div
      class="govcy-d-flex govcy-justify-content-between govcy-align-items-end govcy-flex-wrap"
    >
      <div class="govcy-my-4">
        <ul>
          <li><a href="#">Privacy statement</a></li>
          <li><a href="#">Cookie policy</a></li>
          <li><a href="#">Accessibility statement</a></li>
        </ul>
        <div class="govcy-d-flex govcy-flex-wrap govcy-align-items-center">
          <span class="govcy-fs-2 govcy-fw-bold govcy-mr-6">gov.cy</span>
          <span class="govcy-mr-6 govcy-mt-2">© Republic of Cyprus, 2024</span>
          <a href="https://europa.eu/" title="Go to EU Website" target="_blank"
            ><img
              class="govcy-eu-logo"
              src="/img/EN_Funded by the EU NextGenEU_POS_H53_EL.png"
              alt="Co-funded by the European Union"
          /></a>
        </div>
      </div>
      <div class="govcy-my-4">
        <a
          href="/img/favicon-32x32.png"
          class="govcy-footer-logo"
          title="Go to the GOV.CY UDS Doc homepage"
          ><img alt="gov.cy Logo"
        /></a>
      </div>
    </div>
  </div>
</footer>
