<header class="govcy-header" id="headerContainer">
  <div class="govcy-header-main-area">
    <div
      class="govcy-container govcy-main-area-items govcy-justify-content-between"
    >
      <div class="govcy-navigation-container govcy-align-items-center">
        <div class="govcy-service-container">
          <a href="https://www.gov.cy" class="govcy-logo" title="Go to the GOV.CY homepage"
            ><img alt="gov.cy Logo"
          /></a>
          <span class="govcy-service-name"><a href="/">Design System</a></span>
        </div>
        <div class="govcy-phase-banner govcy-phase-banner-light my-2">
          <span class="govcy-tag">Ver. 3.0.0</span>
        </div>
        <ul class="govcy-menu-items">
          <li
            class="govcy-mobile-menu govcy-mobile-menu-only govcy-dropdown govcy-ms-auto"
          >
            <span
              ><a href="#" class="govcy-menu-item govcy-expand-btn"
                >Menu</a
              ></span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="govcy-header-menu-area">
    <div class="govcy-container">
      <div class="govcy-row">
        <div class="govcy-col-9">
          <nav class="app-mainmenu govcy-mainmenu">
            <ul class="govcy-menu-items">
              <li><a href="/" class="govcy-menu-item">Get Started</a></li>
              <li><a href="/styles" class="govcy-menu-item">Styles</a></li>
              <li>
                <a href="/components" class="govcy-menu-item">Components</a>
              </li>
              <li><a href="/patterns" class="govcy-menu-item">Patterns</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
