// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
//$dsf-primary: #31576F;
//$dsf-white: #ffffff;
@import "../../../src/sass/base/dsf-variables.scss";

@mixin dsf-navbar-mixin {
  @extend .navbar;
  background-color: $dsf-white !important;
 
}
.dsf-navbar{
  @include dsf-navbar-mixin;
  .container-fluid {
    background-color: $dsf-primary;
    img {
      content: $dsf-logo;
           
    }
    .nav-link  span {
      letter-spacing: 3px;
      
      }
      .nav-link  span :focus {
        background-color: $dsf-primary;
        color:$dsf-white;
        }
        .dropdown-item {
          letter-spacing: 3px;
        }
  }

}



 