
// -----------------------------------------------------------------------------
// This file contains the custom styles for the alerts.
// -----------------------------------------------------------------------------


// Govcy Alerts

//Govcy Alerts-Error
.govcy-alert-error {
  margin-bottom: 1.5rem;

  p > a,
  ul li a {
    color: $govcy-danger;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;

    &:hover {
      color: $govcy-danger-hover;
    }
    }

  ul {
    padding-left: 5px;

    li a {
      display: inline-block;
    }
  }
}

//Govcy Alerts-Notification
.govcy-alert-notification {
  margin-bottom: 1.5rem;

  .govcy-alert-notification-header {
    color: $govcy-white;
    padding-left: 20px;
  }

  .govcy-alert-notification-body {
    p {
      a {
        color: $govcy-primary;
        padding-top: 5px;
      }
    }
  }
}

//Govcy Alerts-Completed-Notification
.govcy-alert-completed-notification {
  color: $govcy-white;
  margin-bottom: 1.5rem;

  .govcy-alert-completed-notification-body {
    padding: 24px;
    text-align: center;
  }
}

//Govcy Alerts-Warning
.govcy-alert-warning {
  margin-bottom: 1.5rem;

  .govcy-alert-warning-icon {
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: 7px;
  }

  .govcy-alert-warning-text {
    font-size: 24px;
  }
}
