// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Mobile first styles for header section starts here

.govcy-header {
  padding: 0;
  min-width: 350px;

  //Govcy logo
  .govcy-logo {
    float: left;
    height: 62px;
    content: $govcy-logo;
  }

  //Govcy service name
  .govcy-service-name {
    float: left;
    margin:10px 24px;
    width: 100%;
  }

  //Label for Govcy menu button (Mobile)
  .govcy-menu-icon {
    cursor: pointer;
    float: right;
    position: relative;
    user-select: none;
    padding: 0.1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    color: $govcy-white;
  }

  //Mimic button click effect with css
  //Govcy menu button styles (Mobile)
  .govcy-menu-btn {
    &:checked {
      ~ {
        .govcy-menu {
          max-height: 15rem;
        }
        .govcy-menu-icon {
          //styles for Google dropdown icon
          .material-icons {
            display: block;
            transform: rotate(180deg);
            top: 0;
          }
        }
      }
    }
  }

  //Govcy menu list items (Mobile)
  ul.govcy-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    
    li {
      a {
        display: block;
        padding: 10px 0;
        color: $govcy-white;
        font-weight: 400;
        // border-bottom: 0.125rem solid #31576f;
        border-bottom: 0.125rem solid $govcy-primary;
        text-decoration: none;
        margin: 0 24px;
        &:hover {
          text-decoration: underline;
        }
        &:active {
          font-weight: 700;
        }
        &:focus {
          outline: none;
        }
      }
      &:last-child a {
        border-bottom: none;
      }
    }
  }

  //Govcy language selector dropdown (Desktop/Mobile)
  .govcy-lang-menu {
    float: right;
    margin: 18px 16px 0 0;
    outline: none;
    border: none;
    background-color: inherit;
  } 
}

// Mobile first styles ends



// Desktop styles for header section starts here

@media (min-width: 768px) {

  //Govcy menu list items (Desktop)
  .govcy-header {
    ul.govcy-menu {
      clear: none;
      float: right;
      max-height: none;
      li {
        float: left;
        a {
          padding: 0;
          margin: 16px 16px 0 0
        }
      }
    }

    //Govcy service name (Desktop)
    .govcy-service-name {
      float: left;
      width: auto;
      margin: 16px 24px;
      
    }
  }
}
