// -----------------------------------------------------------------------------
// This file contains the custom styles for the hint.
// -----------------------------------------------------------------------------

// Govcy hint
.govcy-hint {
  color: $govcy-hint;
  display: block;
  margin-bottom: 1.5rem;
}
