// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
//$govcy-primary: #31576F;
$govcy-link-color: #254355;

/* menu */
/* menu icon */
/* menu btn */
.govcy-header {
	padding: 0px;
	font-family: $govcy-font-family;
	background-color: $govcy-primary;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	// position: fixed;
	width: 100%;
	z-index: 3;
	max-height:100px;
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
	    background-color: #577589;
	}
	
	
	li {
		
		a {
			display: block;
			padding: 0.9rem !important;
			color:$govcy-white;
			border-top: 2px solid #31576F;
			text-decoration: none;
			&:hover {
				background-color: $govcy-link-color;
			}
		}
	}
}
	.menu-btn {
		&:hover {
			background-color: $govcy-link-color;
		}
		display: none;
		&:checked {
			~ {
				.menu {
					max-height: 240px;
				}
				.menu-icon {
					.nav-icon {
						background: transparent;
						&:before {
							transform: rotate(-45deg);
							top: 0;
						}
						&:after {
							transform: rotate(45deg);
							top: 0;
						}
					}
				}
			}
		}
	}
	.logo {
		display: block;
		float: left;
		font-size: 2em;
		padding: 0px;
		text-decoration: none;
		content: $govcy-logo;
	}
	form {
		  
		#lang-menu {
		// cursor: pointer;
		float: right;
	   // padding: 28px 20px;
		// position: relative;
		// user-select: none;
		color:$govcy-white;
		margin: 0.9rem;
		background-color: $govcy-primary;
			option {
			background-color: #577589;
			// display: block;
			// padding: 15px !important;
			
			// width:100% !important;
		}
	}  
	  }
	.service-name {
		display: none;
		float: left;
		color: $govcy-white;
		padding: 0.9rem;
	}
	.menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
		
	}
	.menu-icon {
		cursor: pointer;
		float: right;
		//  padding: 28px 20px;
		position: relative;
		user-select: none;
		padding: 0.1rem;
		display:flex;
		align-items: center;
    color: white;
		.carot-icon {
			margin: 0.9rem;
			//background: $govcy-white;
			//display: block;
			//height: 2px;
		//position: relative;
			//transition: background .2s ease-out;
			//width: 18px;
		
			
		}
	}

  

  /* 48em = 768px @ 16pt font */

  @media (min-width: 48em) {
    .govcy-header {
		ul{
			background-color: $govcy-primary;
		}
	 
      li {
		
        float: left;
        a {
			
          padding: 20px 30px;
        }
      }
	  .service-name {
		  display: block;
		float: left;
		color: $govcy-white;
		padding: 0.9rem;
	}
	
      .menu {
        clear: none;
        float: right;
        max-height: none;
      }
      .menu-icon {
        display: none;
      }
    }
  }



 