// ---------------------------------------------------------------------------------------------
// This file contains the custom styles for the form, fieldset, legend, label, 
// textarea, checkbox and radio
// ---------------------------------------------------------------------------------------------  

// Govcy Form styles
.govcy-form {
  .govcy-fieldset {
    .govcy-legend {
      font-size: inherit;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
  }

  // Govcy form control
  .govcy-form-control {
    margin-bottom: 1.5rem;

    &-error {
      border-left: 4px solid $govcy-danger;
      padding-left: 13px;
    }

    &-hint {
      border-left: 4px solid $govcy-hint;
      padding-left: 13px;
    }

    // Govcy label
    .govcy-label {
      color: $govcy-black;
      display: block;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    // Govcy hint and input error message
    .govcy-hint,
    .govcy-input-error-msg {
      color: $govcy-hint;
      display: block;
      line-height: 28px;
      margin-bottom: 0.5rem;
    }

    // Govcy input error message
    .govcy-input-error-msg {
      color: $govcy-danger;
    }

    // Govcy input styles for text and text area

    .govcy-text-input,
    .govcy-text-area {
      border: 3px solid $govcy-body;
      height: 44px;
      padding: 5px;
      width: 100%;

      // Defalult
      &::placeholder {
        font-size: 14px;
        top: 12px;
      }

      // Firefox 19+
      &::-moz-placeholder {
        font-size: 14px;
        top: 12px;
      }

      // Firefox 18-
      &:-moz-placeholder {
        font-size: 14px;
        top: 12px;
      }

      // IE
      &:-ms-input-placeholder {
        font-size: 14px;
        top: 12px;
      }

      // Safari
      &::-webkit-input-placeholder {
        font-size: 14px;
        top: 12px;
      }

      &:focus {
        box-shadow: 0 0 0 4pt $govcy-focus;
        outline: none;
      }

      &-error {
        border-color: $govcy-danger;
      }

      &-char_20 {
        width: 14.16rem;
      }

      &-char_10 {
        width: 7.8rem;
      }

      &-char_6 {
        width: 5.5rem;
      }

      &-char_5 {
        width: 4.5rem;
      }

      &-char_4 {
        width: 3.8rem;
      }

      &-char_3 {
        width: 3.1rem;
      }

      &-char_2 {
        width: 2.2rem;
      }
    }

    .govcy-text-area {
      height: auto;
    }

    // Govcy file upload styles (input type="file")
    .govcy-file-upload {
      &:focus {
        border: 3px solid $govcy-body;
        border-radius: 0;
        box-shadow: 0 0 0 4pt $govcy-focus;
        outline: none;
      }
    }

    .govcy-checkbox,
    .govcy-radio {
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-user-select: none;
      cursor: pointer;
      display: block;
      margin-bottom: 1.5rem;
      padding: 6px 16px 8px 60px;
      position: relative;
      user-select: none;

      // Hide the default checkbox styles
      .govcy-checkbox-input,
      .govcy-radio-input {
        cursor: pointer;
        height: 0;
        opacity: 0;
        position: absolute;
        width: 0;

        &:focus + .govcy-tickbox,
        &:focus + .govcy-radio-checked {
          box-shadow: 0 0 0 4px $govcy-focus;
          outline: none;
        }

        &:checked ~ .govcy-tickbox::after,
        &:checked ~ .govcy-radio-checked::after {
          display: block;
        }
      }

      // Create custom checkbox styles
      .govcy-tickbox {
        border: 3px solid $govcy-body;
        height: 44px;
        left: 0;
        position: absolute;
        top: 0;
        width: 44px;

        &:focus {
          box-shadow: 0 0 0 4px $govcy-focus;
          outline: none;
        }

        // Tickbox/indicator (hidden when not checked) */
        &::after {
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          border: solid $govcy-body;
          border-width: 0 5px 5px 0;
          content: '';
          display: none;
          height: 24px;
          left: 13px;
          position: absolute;
          top: 4px;
          transform: rotate(45deg);
          width: 13px;
        }
      }

      // Create custom radio button style
      .govcy-radio-checked {
        border: 3px solid $govcy-body;
        border-radius: 50%;
        height: 44px;
        left: 0;
        position: absolute;
        top: 0;
        width: 44px;

        &:focus {
          box-shadow: 0 0 0 4px $govcy-focus;
          outline: none;
        }

        &::after {
          background-color: $govcy-body;
          border: solid $govcy-body;
          border-radius: 50%;
          content: '';
          display: none;
          height: 20px;
          left: 9px;
          position: absolute;
          top: 9px;
          width: 20px;
        }
      }
    }
  }
}


