
// Govcy footer starts

.govcy-footer {
     img {
        width: 2.875rem;
        height: 2.8125rem;
        content: $govcy-footer-logo;
    }
    ul {
      li {
        display: inline-block;
        margin-right: 8px;
        padding-bottom: 8px;
         a{
            color: $govcy-black;
         }
      }
    }
  }