// Create  govcy-table and custom styles by extending .table class
.govcy-table {
  @extend .table;
  margin-bottom: 1.5rem;

  > thead,
  > tbody > tr {
    border-color: $govcy-border-standard;
  }

  > tbody > tr > th {
    font-weight: 500;
  }
}

// Change placement of captions with a class
.govcy-caption-top {
  @extend .caption-top;
}

// Condensed table w/ half padding
.govcy-table-sm {
  @extend .table-sm;
}

// Add or remove borders all around the table and between all the columns
.govcy-table-bordered {
  @extend .table-bordered;
}

.govcy-table-borderless {
  @extend .table-borderless;
}

// Govcy table active
.govcy-table-active {
  @extend .table-active;
}


// Govcy table hover
.govcy-table-hover {
  @extend .table-hover;
}



//Responsive tables
@include media-breakpoint-down(md) {
  .govcy-table-responsive {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;

    &-vertical {
      width: 100%;

      tr {
        border-bottom-width: 1px;

        &:nth-of-type(2n) {
          background-color: inherit;
        }
      }

      tbody {
        td {
          border-bottom-width: 0 !important;
          display: block;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}





  