// -----------------------------------------------------------------------------
// This file contains the custom styles for the Links.
// -----------------------------------------------------------------------------


// Govcy Links

//defining govcy - danger:hover :visited and :active link state
a {
  margin-bottom: 0.5rem;

  &.danger:hover {
    color: $govcy-danger-hover;
  }

  &:visited {
    border-color: $govcy-link-visited;
    color: $govcy-link-visited;
  }

  &:active {
    border-color: $govcy-link-active;
    color: $govcy-link-active;
  }

  &:focus {
    -webkit-box-shadow: 0 -2px $govcy-link-focus, 0 3px $govcy-body;
    background-color: $govcy-link-focus;
    // border-bottom: 3px solid $govcy-body;
    box-shadow: 0 -2px $govcy-link-focus, 0 3px $govcy-body;
    color: $govcy-body !important;
    outline: none;
    text-decoration: none;
  }
}


//defining govcy - back link, user's name and signout styles on :hover :active and :visited state
a.govcy-back-link,
a.govcy-sign-out {
  color: $govcy-body !important;

  &:hover,
  &:visited,

  &:active {
    text-decoration: underline;
  }

  &:hover {
    text-decoration-thickness: 3px !important;
  }
}

//defining govcy - skip to content link
.govcy-skip-link {
  border-bottom: 0 !important;
  display: block;
  height: 1px;
  left: -10000px;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  text-decoration: underline !important;
  top: auto;
  width: 1px;

  &:focus {
    height: auto;
    position: static;
    width: 100%;
  }
}
