// -----------------------------------------------------------------------------
// This file contains the custom styles for the buttons, if any.
// --------------------------------------------------------------------------


// Create govcy-btn mixin by extending bootstrap .btn class

@mixin govcy-btn-variants {
  @extend .btn;

  &:not(.disabled):not(:disabled) {
    &:hover {
      color: $govcy-white;
    }

    &:focus {
      background-color: $govcy-btn-focus;
      border: 2px solid;
      box-shadow: none;
      color: $govcy-body;
    }
  }
}

.govcy-btn {
  @include govcy-btn-variants;
  border: 2px solid transparent;
  &-sm {
    @extend .btn-sm;
    border: 2px solid transparent;
  }

  &-lg {
    @extend .btn-lg;
    border: 2px solid transparent;
  }
}

// create DSF Primary button by using govcy-btn mixin

.govcy-btn-primary {
  @include govcy-btn-variants;
  background-color: $govcy-primary;
  color: $govcy-white;

  &:hover {
    background-color: $govcy-btn-primary-hover;
  }
}


// create DSF secondary button by using govcy-btn mixin

.govcy-btn-secondary {
  @include govcy-btn-variants;
  background-color: $govcy-btn-secondary;
  color: $govcy-body !important;

  &:hover {
    background-color: $govcy-btn-secondary-hover;
  }
}

// create DSF Success button by using govcy-btn mixin

.govcy-btn-success {
  @include govcy-btn-variants;
  background-color: $govcy-btn-success;
  color: $govcy-white;

  &:hover {
    background-color: $govcy-btn-success-hover;
  }
}
