
// Govcy footer starts

.govcy-footer {
  img {
    content: $govcy-footer-logo;
    height: 2.8125rem;
    width: 2.875rem;
  }

  ul {
    li {
      display: inline-block;
      margin-right: 8px;
      padding-bottom: 8px;

      a {
        color: $govcy-black;
      }
    }
  }
}
