// -----------------------------------------------------------------------------
// This file contains the custom styles for the list.
// -----------------------------------------------------------------------------

// Govcy list
@mixin govcy-list-unstyled {
  padding-left: 1.5rem;
}

ul {
  @include govcy-list-unstyled;

  li {
    a {
      display: inline-block;
    }
  }
}

