
// Govcy text input focus style

textarea:focus,
input[type="text"]:focus,
input[type="password"].focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
    outline: 3px solid $govcy-focus;
}

// Govcy Form styles
.govcy-form {
    &-error {
        border-left: 4px solid $govcy-danger;
    }
    .govcy-label{
        display: block;
        color: $govcy-black;
    }
    .govcy-hint, .govcy-input-error-msg {
        display: block;
        line-height: 1;
        margin-bottom: 8px;
        color: $govcy-hint;
    }

    .govcy-input-error-msg {
        color: $govcy-danger;
        font-weight: 500;;

    }
    .govcy-text-input, .govcy-text-area {
        border: 2px solid $govcy-body;
        width: 100%;
        &-error {
            border-color: $govcy-danger; 
        }
        &-char_10 {
            width: 13%;
        }
        &-char_5 {
            width: 7%;
        }
        &-char_4 {
            width: 6%;
        }
        &-char_3 {
            width: 5%;
        }
        &-char_2 {
            width: 4%;
        }
    }
}


