$govcy-footer-link-color: #0b0c0c;
.govcy-footer {
  padding: 0;
  font-family: $govcy-font-family;
  background-color: #ebf1f3;
  width: 100%;
  border-top: 1.125rem solid $govcy-primary;
  .govcy-footer-row {
    padding: 0.625rem 0.625rem;
    display: flex;
    align-content: center;
    .govcy-footer-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 0.625rem;
      height: 8.125rem;
      padding-top: 0.9375rem;
      img {
        width: 2.875rem;
        height: 2.8125rem;
        content: $govcy-footer-logo;
      }
    }
    .govcy-footer-content {
      padding-top: 0.3125rem;
      display: flex;
      flex-direction: column;
      justify-content: left;
      width: 100%;
      p {
        line-height: 0.9375rem;
        a {
          float: left;
          color: $govcy-footer-link-color;
          padding: 0.5rem 1rem;
        }

        &:last-child {
          padding-left: 1rem;
          color: $govcy-footer-link-color;
        }
      }
    }
  }
}

/* 48em = 768px @ 16pt font */
@media (min-width: 48em) {
  .govcy-footer {
    .govcy-footer-row {
      padding: 0.625rem 0.625rem;
      .govcy-footer-logo {
        padding-top: 0.9375rem;
        height: 3.125rem;
      }
      .govcy-footer-content {
        padding-top: 0.3125rem;
        p {
          line-height: 0.9375rem;
          a {
            float: left;
            padding: 0.1rem 1rem;
          }
        }
      }
    }
  }
}
