// govcy-utilitiy classes

$utilities: () !default;
$utilities: map-merge((

  // utility: govcy-border-width
  // usage:   govcy-br-*, govcy-br-*-*
  "govcy-border-width": (
    property: border,
    class: govcy-br,
    responsive: true,
    values: $govcy-border-widths,
  ),

  // utility: govcy-border-color
  // usage:   govcy-br-*, govcy-br-*-*  
  "govcy-border-color": (
    property: border-color,
    class: govcy-br,
    responsive :true,
    values: $govcy-border-colors,
  ),

  // utility: govcy-border-top
  // usage:   govcy-br-top-0, govcy-br-top-*-0  
  "govcy-border-top": (
    property: border-top,
    class: govcy-br-top,
    responsive: true,
    values: (0:0)
  ),

  // utility: govcy-border-end
  // usage:   govcy-br-right-0, govcy-br-right-*-0 
  "govcy-border-end": (
    property: border-right,
    class: govcy-br-right,
    responsive: true,
    values: (0:0),
  ),

  // utility: govcy-border-bottom
  // usage:   govcy-br-bottom-0, govcy-br-bottom-*-0
  "govcy-border-bottom": (
    property: border-bottom,
    class: govcy-br-bottom,
    responsive: true,
    values: (0:0),
  ),
  
  // utility: govcy-border-start
  // usage:   govcy-br-left-0, govcy-br-left-*-0
  "govcy-border-start": (
    property: border-left,
    class: govcy-br-left,
    responsive: true,
    values: (0:0),
  ),

  // utility: govcy-rounded
  // usage:   govcy-rounded-* 
  "govcy-rounded": (
    property: border-radius,
    class: govcy-rounded,
    values: $govcy-border-rounded,
  ),

  // utility: govcy-rounded-top
  // usage:   govcy-rounded-top-* 
  "govcy-rounded-top": (
    property: border-top-left-radius border-top-right-radius,
    class: govcy-rounded-top,
    values: $govcy-border-rounded,
  ),

  // utility: govcy-rounded-end
  // usage:   govcy-rounded-right-* 
  "govcy-rounded-end": (
    property: border-top-right-radius border-bottom-right-radius,
    class: govcy-rounded-right,
    values: $govcy-border-rounded,
  ),

  // utility: govcy-rounded-bottom
  // usage:   govcy-rounded-bottom-* 
  "govcy-rounded-bottom": (
    property: border-bottom-right-radius border-bottom-left-radius,
    class: govcy-rounded-bottom,
    values: $govcy-border-rounded,
  ),

  // utility: govcy-rounded-start
  // usage:   govcy-rounded-start-* 
  "govcy-rounded-start": (
    property: border-bottom-left-radius border-top-left-radius,
    class: govcy-rounded-left,
    values: $govcy-border-rounded,
  ),

  // utility: govcy-margin
  // usage:   govcy-m-*, govcy-m-*-* 
  "govcy-margin": (
    responsive: true,
    property: margin,
    class: govcy-m,
    values: map-merge($spacers, (auto: auto))
  ),

  // utility: govcy-margin-x
  // usage:   govcy-mx-*, govcy-mx-*-*
  "govcy-margin-x": (
    responsive: true,
    property: margin-right margin-left,
    class: govcy-mx,
    values: map-merge($spacers, (auto: auto))
  ),

  // utility: govcy-margin-y
  // usage:   govcy-my-*, govcy-my-*-*
  "govcy-margin-y": (
    responsive: true,
    property: margin-top margin-bottom,
    class: govcy-my,
    values: map-merge($spacers, (auto: auto))
  ),

  // utility: govcy-margin-top
  // usage:   govcy-mt-*, govcy-mt-*-*
  "govcy-margin-top": (
    responsive: true,
    property: margin-top,
    class: govcy-mt,
    values: map-merge($spacers, (auto: auto))
  ),

  // utility: govcy-margin-end
  // usage:   govcy-mr-*, govcy-mr-*-*
  "govcy-margin-end": (
    responsive: true,
    property: margin-right,
    class: govcy-mr,
    values: map-merge($spacers, (auto: auto))
  ),

  // utility: govcy-margin-bottom
  // usage:   govcy-mb-*, govcy-mb-*-*
  "govcy-margin-bottom": (
    responsive: true,
    property: margin-bottom,
    class: govcy-mb,
    values: map-merge($spacers, (auto: auto))
  ),

  // utility: govcy-margin-start
  // usage:   govcy-ml-*, govcy-ml-*-*
  "govcy-margin-start": (
    responsive: true,
    property: margin-left,
    class: govcy-ml,
    values: map-merge($spacers, (auto: auto))
  ),

  // utility: govcy-padding
  // usage:   govcy-p-*, govcy-p-*-*
  "govcy-padding": (
    responsive: true,
    property: padding,
    class: govcy-p,
    values: $spacers
  ),

  // utility: govcy-padding-x
  // usage:   govcy-px-*, govcy-px-*-*
  "govcy-padding-x": (
    responsive: true,
    property: padding-right padding-left,
    class: govcy-px,
    values: $spacers
  ),

  // utility: govcy-padding-y
  // usage:   govcy-py-*, govcy-py-*-*
  "govcy-padding-y": (
    responsive: true,
    property: padding-top padding-bottom,
    class: govcy-py,
    values: $spacers
  ),

  // utility: govcy-padding-top
  // usage:   govcy-pt-*, govcy-pt-*-*
  "govcy-padding-top": (
    responsive: true,
    property: padding-top,
    class: govcy-pt,
    values: $spacers
  ),

  // utility: govcy-padding-end
  // usage:   govcy-pr-*, govcy-pr-*-*
  "govcy-padding-end": (
    responsive: true,
    property: padding-right,
    class: govcy-pr,
    values: $spacers
  ),

  // utility: govcy-padding-bottom
  // usage:   govcy-pb-*, govcy-pb-*-*
  "govcy-padding-bottom": (
    responsive: true,
    property: padding-bottom,
    class: govcy-pb,
    values: $spacers
  ),

  // utility: govcy-padding-start
  // usage:   govcy-pl-*, govcy-pl-*-*
  "govcy-padding-start": (
    responsive: true,
    property: padding-left,
    class: govcy-pl,
    values: $spacers
  ),

  // utility: govcy-width
  // usage:   govcy-w-*
  "govcy-width": (
    property: width,
    class: govcy-w,
    values: (
      10: 10%,
      15: 15%, 
      25: 25%,
      35: 35%,
      50: 50%,
      60: 60%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),

  // utility: govcy-height
  // usage:   govcy-h-*
  "govcy-height": (
    property: height,
    class: govcy-h,
    values: (
      10: 10%,
      15: 15%, 
      25: 25%,
      35: 35%,
      50: 50%,
      60: 60%,
      75: 75%,
      100: 100%,
      auto: auto
    )
  ),

  // utility: govcy-background-color
  // usage:   govcy-bg-*, govcy-bg-*-*
  "govcy-background-color": (
    responsive: true,
    property: background-color,
    class: govcy-bg,
    values: $govcy-bg-colors,
  ),

  // utility: govcy-opacity
  // usage:   govcy-opacity-*
  "govcy-opacity": (
    property: opacity,
    class: govcy-opacity,
    values: (
      10: .1,
      25: .25,
      50: .5,
      75: .75,
      100: 1
    )
  ),

  // utility: govcy-text-color
  // usage:   govcy-text-*
  "govcy-text-color": (
    property: color,
    class: govcy-text,
    values: $govcy-text-colors,
  ),

  // utility: govcy-text-align
  // usage:   govcy-text-*, govcy-text-*-*
  "govcy-text-align": (
    responsive: true,
    property: text-align,
    class: govcy-text,
    values: (
      start: left,
      end: right,
      center: center,
    )
  ),

  // utility: govcy-text-decoration
  // usage:   govcy-text-deco-*
  "govcy-text-decoration": (
    property: text-decoration,
    class: govcy-text-deco,
    values: none underline line-through,
  ),

  // utility: govcy-text-transform
  // usage:   govcy-text-*
  "govcy-text-transform": (
    property: text-transform,
    class: govcy-text,
    values: lowercase uppercase capitalize,
  ),
  
  // utility: govcy-font-size
  // usage:   govcy-fs-*
  "govcy-font-size": (
    rfs: true,
    property: font-size,
    class: govcy-fs,
    values: $font-sizes,
  ),

  // utility: govcy-font-style
  // usage:   govcy-fst-*
  "govcy-font-style": (
    property: font-style,
    class: govcy-fst,
    values: italic normal,
  ),

  // utility: govcy-font-weight
  // usage:   govcy-fw-*
  "govcy-font-weight": (
    property: font-weight,
    class: govcy-fw,
    values: (
      light: $font-weight-light,
      lighter: $font-weight-lighter,
      normal: $font-weight-normal,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder,
    )
  ),

  // utility: govcy-line-height
  // usage:   govcy-lh-*
  "govcy-line-height": (
    property: line-height,
    class: govcy-lh,
    values: (
      1: 1,
      sm: $line-height-sm,
      base: $line-height-base,
      lg: $line-height-lg,
    )
  ),

  // utility: govcy-display
  // usage:   govcy-d-*, govcy-d-*-*
  "govcy-display": (
    responsive: true,
    print: true,
    property: display,
    class: govcy-d,
    values: inline inline-block block grid table table-row table-cell flex inline-flex none,
  ),   
),$utilities);