
// Govcy Form styles
.govcy-form {
    padding: 0 14px;
    margin: 14px 0;

    &-error {
        border-left: 4px solid $govcy-danger;
    }
    .govcy-fieldset{
        border: 1px solid $govcy-border-standard;
        padding: 1rem;
        .govcy-legend {
            font-weight: 500;
        }
    }
    .govcy-label{
        display: block;
        color: $govcy-black;
    }
    .govcy-hint, .govcy-input-error-msg {
        display: block;
        line-height: 1;
        margin-bottom: 8px;
        color: $govcy-hint;
    }

    .govcy-input-error-msg {
        color: $govcy-danger;
        font-weight: 500;;

    }
    .govcy-text-input, .govcy-text-area {
        border: 2px solid $govcy-body;
        width: 100%;
        padding: 0 5px;
        margin-bottom: 0.5rem;

        &::placeholder{font-size: 13px;} /* Defalult */
        &::-moz-placeholder { font-size: 13px;} /* Firefox 19+ */
        &:-moz-placeholder {font-size: 13px;}  /* Firefox 18- */
        &:-ms-input-placeholder {font-size: 13px;} /* IE */

        &:focus {
            outline: 3px solid $govcy-focus;
        }
        &-error {
            border-color: $govcy-danger; 
        }
        &-char_20 {
            width: 14.16rem;
        }
        &-char_10 {
            width: 7.8rem;
        }
        &-char_5 {
            width: 4.2rem;
        }
        &-char_4 {
            width: 3.8rem;
        }
        &-char_3 {
            width: 3.1rem;
        }
        &-char_2 {
            width: 2.2rem;
        }
    }
}


