// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// Mobile first styles for header section starts here

.govcy-header {
  margin-bottom: 0.5rem;
  min-width: 350px;
  padding: 0;

  //Govcy logo
  .govcy-logo {
    content: $govcy-logo;
    float: left;
    height: 64px;
    margin: -1px;
  }

  //Govcy service name
  .govcy-service-name {
    float: left;
    padding: 10px 24px;
    width: 100%;
  }

  //Label for Govcy menu button (Mobile)
  .govcy-menu-icon {
    align-items: center;
    color: $govcy-white;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    float: right;
    padding: 0.1rem;
    position: relative;
    user-select: none;
  }

  //Mimic button click effect with css
  //Govcy menu button styles (Mobile)
  .govcy-menu-btn {
    &:checked {
      ~ {
        .govcy-menu {
          max-height: 100%;
        }

        .govcy-menu-icon {
          //styles for Google dropdown icon
          .material-icons {
            display: block;
            top: 0;
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  //Govcy menu list items (Mobile)
  ul.govcy-menu {
    clear: both;
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.2s ease-out;

    li {
      .active {
        font-weight: 700;
      }

      a {
        border-bottom: 0.125rem solid $govcy-primary;
        color: $govcy-white;
        display: block;
        font-weight: 400;
        margin: 0 24px;
        padding: 10px 0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }

        &:active {
          font-weight: 700;
        }

        &:focus {
          outline: none;
        }
      }

      &:last-child a {
        border-bottom: 0;
      }
    }
  }

  //Govcy language selector dropdown (Desktop/Mobile)
  .govcy-lang-menu {
    background-color: inherit;
    border: 0;
    float: right;
    margin: 17px 16px 0 0;
    outline: none;
  }
}
// Mobile first styles ends

// Desktop styles for header section starts here
@media (min-width: 768px) {

  //Govcy menu list items (Desktop)
  .govcy-header {
    ul.govcy-menu {
      clear: none;
      float: right;
      max-height: none;

      li {
        float: left;

        a {
          margin: 20px 16px 0 0;
          padding: 0;
        }
      }
    }

    //Govcy service name (Desktop)
    .govcy-service-name {
      float: left;
      padding: 20px 24px 0;
      width: auto;
    }

    .govcy-lang-menu {
      margin-top: 21px;
    }
  }
}

// CE: Adds primart colour background on the right of the header. The parent element must have `govcy-position-relative`

.govcy-bg-primary-right::after {
  background-color: $govcy-primary;
  bottom: 0;
  content: ' ';
  height: 62px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: -1;
}
