
// Govcy Form styles
.govcy-form {
    .govcy-fieldset{
        .govcy-legend {
            font-weight: 500;
        }
    }
    
    // Govcy form control
    .govcy-form-control {
        margin: 14px 0;
        &-error {
            border-left: 4px solid $govcy-danger;
            padding-left: 13px;
        }

        // Govcy label
        .govcy-label{
            display: block;
            color: $govcy-black;
            font-weight: 500;
        }

        // Govcy hint and Govcy input error message
        .govcy-hint, .govcy-input-error-msg {
            display: block;
            line-height: 1;
            margin-bottom: 8px;
            color: $govcy-hint;
        }

        // Govcy input error message
        .govcy-input-error-msg {
            color: $govcy-danger;
        }

        // Govcy input styles for text and text area
        .govcy-text-input, .govcy-text-area {
            border: 2px solid $govcy-body;
            width: 100%;
            padding: 5px;
            height:44px;
            &::placeholder{ font-size: 14px; top: 12px; } /* Defalult */
            &::-moz-placeholder { font-size: 14px; top: 12px; } /* Firefox 19+ */
            &:-moz-placeholder { font-size: 14px; top: 12px; }  /* Firefox 18- */
            &:-ms-input-placeholder { font-size: 14px; top: 12px; } /* IE */
            &::-webkit-input-placeholder { font-size: 14px; top: 12px; } /* Safari */
        

            &:focus {
                outline: none;
                box-shadow: 0 0 0 4pt $govcy-focus;
            }
            &-error {
                border-color: $govcy-danger; 
            }
            &-char_20 {
                width: 14.16rem;
            }
            &-char_10 {
                width: 7.8rem;
            }
            &-char_6 {
                width: 5.5rem;
            }
            &-char_5 {
                width: 4.5rem;
            }
            &-char_4 {
                width: 3.8rem;
            }
            &-char_3 {
                width: 3.1rem;
            }
            &-char_2 {
                width: 2.2rem;
            }
        }
        
        .govcy-checkbox,
        .govcy-radio-btn {    
            display: block;
            position: relative;
            padding: 6px 16px 8px 60px;
            margin-top: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            // Hide the default checkbox styles
            .govcy-checkbox-input, .govcy-radio-input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
                &:focus + .govcy-tickbox,
                &:focus + .govcy-radio {
                    outline: none;
                    box-shadow: 0 0 0 4px $govcy-focus;
                }
                &:checked ~ .govcy-tickbox:after,
                &:checked ~ .govcy-radio:after {
                    display: block;
                }
            }

            // Create custom checkbox styles
            .govcy-tickbox{
                position: absolute;
                top: 0;
                left: 0;
                height: 44px;
                width: 44px;
                border: 2px solid $govcy-body;
                &:focus {
                    box-shadow: 0 0 0 4px $govcy-focus; 
                    outline:none;
                }
                // Tickbox/indicator (hidden when not checked) */
                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 14px;
                    top: 5px;
                    width: 13px;
                    height: 24px;
                    border: solid $govcy-body;
                    border-width: 0 5px 5px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }

             // Create custom radio button style
             .govcy-radio {
                position: absolute;
                top: 0;
                left: 0;
                height: 44px;
                width: 44px;
                border: 2px solid $govcy-body;
                border-radius: 50%;
                &:focus {
                    box-shadow: 0 0 0 4px $govcy-focus;
                    outline:none;
                }
                &:after{
                    content: "";
                    position: absolute;
                    display: none;
                    left: 10px;
                    top: 10px;
                    width: 20px;
                    height: 20px;
                    border: solid $govcy-body;
                    border-radius: 50%;
                    background-color: $govcy-body;
                }
             }            
        }
    }
}


