
// -----------------------------------------------------------------------------
// This file contains the custom styles for the alerts.
// -----------------------------------------------------------------------------


@mixin govcy-all-alerts {
    font-weight: bold;
    border: solid 5px;
    background-color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    h2 {
        height:50px; 
    }
    p {
        padding-left: 10px;
        font-size: x-large;
    }
    a {
        font-size:x-large;
    }
}

@mixin govcy-alert-success-important {

    @extend .alert;
    @include govcy-all-alerts();
    
    padding-top:0px;
    padding-right: 0px;
    padding-left:0px;

    h2, p , a {
        
         padding-left: 20px;
    }
    h2 {
        color :white
    }
    p {
        color : black;
    }    
}

.govcy-alert-error {
    @extend .alert;
    @include govcy-all-alerts();
    border-color:   $govcy-danger;
    h2 {
         color: black;
    }
   
    p {
        color: $govcy-danger;
       margin-bottom: 0px


    }
         a {
           color:$govcy-danger;
       }

}

.govcy-alert-success {

    @extend .alert;
    @include govcy-all-alerts();
    @include govcy-alert-success-important();
    border-color: $govcy-success;

    h2 {
        background-color: $govcy-success;
    }   

    a {
        padding-left: 0px;
    }
}

.govcy-alert-important {

    @extend .alert;
    @include govcy-all-alerts();
    @include govcy-alert-success-important();
    border-color: $govcy-info;
    
    h2 {
        background-color: $govcy-info;
    }   
}

.govcy-panel {

    align-items:center;
    justify-content:center ;
    display: flex;
    height: 150px;
    background-color: $govcy-success;
    margin-left:10px;
    margin-right:10px;
    h1 {
        color:white;
    }

        p {
            color:white;
            font-size: large;
        }
}

.govcy-warning {

         p,i {
           
            font-weight: bold;
            align-items: center;
            vertical-align: middle;
            display: flex;
        }
        p {
            font-size: x-large;
        }
        i {
            font-size: xx-large;
        }
}

.govcy-link-text {


    font-weight: normal;

    p {
        margin-bottom: 0px;
    }

}

